{{ form_start(form) }}

{{ form_errors(form) }}

<fieldset class="rows-fieldset">
    <legend>
        <span class="icon-cog"></span>{{ 'admin.user.forms.edit.fieldsets.private_data.label'|trans }}
    </legend>
    <div class="field-container">
        {% if user is defined %}
            <div class="form-widget-container form-info-container">
                {{ 'admin.user.forms.edit.id.label'|trans({'%id%': user.id})|raw }}
            </div>
        {% endif %}
        <div class="form-widget-container">
            {{ form_row(form.username) }}
        </div>
        <div class="form-widget-container">
            {{ form_row(form.email) }}
        </div>
    </div>
</fieldset>

<fieldset class="rows-fieldset">
    <legend>
        <span class="icon-cog"></span>{{ 'admin.user.forms.edit.fieldsets.admin.label'|trans }}
    </legend>
    {{ form_rest(form) }}
    <div class="text-right">
        <button data-turbo="false" class="btn btn-green" title="{{ 'global.savebutton.title'|trans }}">{{ button_label|default('global.savebutton.label'|trans) }}</button>
    </div>
</fieldset>

{{ form_end(form) }}
