{{ form_start(form) }}

{{ form_errors(form) }}

<fieldset class="rows-fieldset">
    <legend><span class="icon-cog"></span>{{ 'admin.user.forms.edit.fieldsets.password.label'|trans }}</legend>
    <div class="field-container">
        <div class="form-widget-container">
            {{ form_row(form.password) }}
        </div>
    </div>
    {{ form_rest(form) }}
</fieldset>

<fieldset class="actions-fieldset">
    <button data-turbo="false" class="btn btn-green" title="{{ 'global.savebutton.title'|trans }}">{{ button_label|default('global.savebutton.label'|trans) }}</button>
</fieldset>

{{ form_end(form) }}
