{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ 'admin.nav.users.index.label'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.nav.users.index.label'|trans }}</h1>

    <h3 class="text-center w-full">
        {{ 'global.total.label'|trans({'%elements%': users.totalItemCount})|raw }}
        {% if users.totalItemCount / users.itemNumberPerPage > 1 %} - {{ 'global.pagenumber'|trans({'current': users.currentPageNumber, 'total': (users.totalItemCount / users.itemNumberPerPage)|round(0, 'ceil')})|raw }}{% endif %}
    </h3>

    <a class="btn btn-green" href="{{ url('admin_user_new') }}" title="{{ 'global.createbutton.title'|trans }}">{{ 'global.createbutton.label'|trans }}</a>

    {% if users is defined and users is iterable %}
        <div class="navigation">
            {{ knp_pagination_render(users) }}
        </div>

        <div class="table-wrapper">
            <table class="table center header-highlight-table">
                <thead>
                    <tr>
                        <th class="table-id-column">{{ 'global.id.label'|trans }}</th>
                        <th><strong>{{ 'admin.account.username.label'|trans }}</strong></th>
                        <th class="w-48">{{ 'admin.account.email.label'|trans }}</th>
                        <th class="w-64">{{ 'admin.account.roles.label'|trans }}</th>
                        <th>{{ 'global.dates.label'|trans }}</th>
                        <th class="actions-column w-64">{{ 'global.actions.label'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>
                                <strong> {{ user.username }}</strong>
                            </td>
                            <td class="w-48">{{ user.email }}</td>
                            <td class="w-64">
                                {% if user.roles is defined and user.roles is not empty and user.roles is iterable %}
                                    <ul>
                                        {% for role in user.roles %}
                                            <li>{{ ('global.roles.' ~ role)|trans }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {{ 'global.none.label'|trans }}
                                {% endif %}
                            </td>
                            <td>
                                {{ user.createdAt ? user.createdAt|date('Y-m-d') : '' }} / {{ user.updatedAt ? user.updatedAt|date('Y-m-d') : '' }}
                            </td>
                            <td class="actions-column w-64">
                                <a class="btn btn-gray w-full" href="{{ url('admin_user_show', {'id': user.id}) }}" title="{{ 'global.showbutton.title'|trans }}">{{ 'global.showbutton.label'|trans }}</a>
                                <a class="btn btn-green w-full" href="{{ url('admin_user_edit', {'id': user.id}) }}" title="{{ 'global.editbutton.title'|trans }}">{{ 'global.editbutton.label'|trans }}</a>
                                <a class="btn btn-green w-full" href="{{ url('admin_user_edit_password', {'id': user.id}) }}"
                                   title="{{ 'global.passwordbutton.title'|trans }}">{{ 'global.passwordbutton.label'|trans }}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11" class="text-center">{{ 'global.noelements.label'|trans }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="navigation">
            {{ knp_pagination_render(users) }}
        </div>
    {% endif %}

    <a class="btn btn-green" href="{{ url('admin_user_new') }}" title="{{ 'global.createbutton.title'|trans }}">{{ 'global.createbutton.label'|trans }}</a>
{% endblock %}
