{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ 'admin.nav.users.editpassword.label'|trans({'user': user.username|striptags})|raw }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.nav.users.editpassword.label'|trans({'user': user.username})|raw }}</h1>

    {{ include('admin/user/_password_form.html.twig', {'button_label': 'global.savebutton.label'|trans}) }}

    <a class="btn btn-gray" href="{{ url('admin_user_index') }}" title="{{ 'global.indexbutton.title'|trans }}">{{ 'global.indexbutton.label'|trans }}</a>

    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}
