{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ 'admin.nav.users.show.label'|trans({'name': user.username|striptags})|raw }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.nav.users.show.label'|trans({'name': user.username})|raw }}</h1>

    <div class="flex flex-col gap-2 lg:flex-row lg:gap-4 w-full lg:justify-center my-2">
        <a class="btn btn-gray" href="{{ url('admin_user_index') }}" title="{{ 'global.indexbutton.title'|trans }}">{{ 'global.indexbutton.label'|trans }}</a>
        <a class="btn btn-green" href="{{ url('admin_user_edit', {'id': user.id}) }}" title="{{ 'global.editbutton.title'|trans }}">{{ 'global.editbutton.label'|trans }}</a>

        <div>
            {{ include('admin/user/_delete_form.html.twig') }}
        </div>
    </div>

    <div class="table-wrapper">
        <table class="table center header-highlight-table">
            <tbody>
                <tr>
                    <th class="w-1/4">{{ 'global.id.label'|trans }}</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.account.username.label'|trans }}</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.user.account.roles.label'|trans }}</th>
                    <td>
                        {% if user.roles is defined and user.roles is not empty and user.roles is iterable %}
                            <ul>
                                {% for role in user.roles %}
                                    <li>{{ ('global.roles.' ~ role)|trans }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {{ 'global.none.label'|trans }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'admin.account.email.label'|trans }}</th>
                    <td>{{ user.email }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="flex flex-col gap-2 lg:flex-row lg:gap-4 w-full lg:justify-center my-2">
        <a class="btn btn-gray" href="{{ url('admin_user_index') }}" title="{{ 'global.indexbutton.title'|trans }}">{{ 'global.indexbutton.label'|trans }}</a>
        <a class="btn btn-green" href="{{ url('admin_user_edit', {'id': user.id}) }}" title="{{ 'global.editbutton.title'|trans }}">{{ 'global.editbutton.label'|trans }}</a>

        <div>
            {{ include('admin/user/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
