{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ 'admin.mtg.cardsourceactivityhistory.show.title'|trans }}{% endblock %}

{% block main_content %}
    <div class="container mx-auto px-4 py-8">
        <div class="flex justify-between items-center mb-6">
            <h1>{{ 'admin.mtg.cardsourceactivityhistory.show.heading'|trans }}</h1>
            <a href="{{ path('admin_mtg_card_source_activity_history_index') }}" class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
                {{ 'admin.mtg.cardsourceactivityhistory.show.back'|trans }}
            </a>
        </div>

        <div>
            <table class="min-w-full">
                <tbody class="divide-y divide-gray-200">
                    <tr>
                        <th>
                            {{ 'admin.mtg.cardsourceactivityhistory.show.id'|trans }}
                        </th>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                            {{ history.id }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'admin.mtg.cardsourceactivityhistory.show.action'|trans }}
                        </th>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                            {{ history.action }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'admin.mtg.cardsourceactivityhistory.show.timestamp'|trans }}
                        </th>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                            {{ history.timestamp|date('Y-m-d H:i:s') }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'admin.mtg.cardsourceactivityhistory.show.details'|trans }}
                        </th>
                        <td class="px-6 py-4 text-sm text-gray-900">
                            <pre class="whitespace-pre-wrap">{{ history.details|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
