<nav>
    <ul>
        {# Admin home #}
        <li class="first home-link">
            <a href="{{ url('admin_home') }}" title="{{ 'admin.nav.home.title'|trans }}">{{ 'admin.nav.home.label'|trans }}</a>
            {% if extended_view is defined and extended_view is same as(true) %}
                <span class="inline-block px-2 pb-2 text-center">
                    {{ 'admin.nav.home.title'|trans }}
                </span>
            {% endif %}
        </li>

        {% if is_granted('ROLE_MTG_MANAGER') %}
            <li>
                <a class="cursor-default" tabindex="0" title="{{ 'front.nav.mtg.title'|trans }}">
                    {{ 'front.nav.mtg.label'|trans }}
                </a>
                <ul>
                    <li>
                        <a href="{{ url('admin_mtg_update_index') }}" title="{{ 'admin.nav.mtg.update.index.title'|trans }}">{{ 'admin.nav.mtg.update.index.label'|trans }}</a>
                        {% if extended_view is defined and extended_view is same as(true) %}
                            <span class="inline-block px-2 pb-2 text-center">
                                {{ 'admin.nav.mtg.update.index.label'|trans }}
                            </span>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ url('admin_mtg_update_new') }}" title="{{ 'admin.nav.mtg.update.new.title'|trans }}">{{ 'admin.nav.mtg.update.new.label'|trans }}</a>
                        {% if extended_view is defined and extended_view is same as(true) %}
                            <span class="inline-block px-2 pb-2 text-center">
                                {{ 'admin.nav.mtg.update.new.label'|trans }}
                            </span>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ url('admin_mtg_points_list_index') }}" title="{{ 'admin.nav.mtg.pointslist.index.title'|trans }}">{{ 'admin.nav.mtg.pointslist.index.label'|trans }}</a>
                        {% if extended_view is defined and extended_view is same as(true) %}
                            <span class="inline-block px-2 pb-2 text-center">
                                {{ 'admin.nav.mtg.pointslist.index.label'|trans }}
                            </span>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ url('admin_mtg_points_list_new') }}" title="{{ 'admin.nav.mtg.pointslist.new.title'|trans }}">{{ 'admin.nav.mtg.pointslist.new.label'|trans }}</a>
                        {% if extended_view is defined and extended_view is same as(true) %}
                            <span class="inline-block px-2 pb-2 text-center">
                                {{ 'admin.nav.mtg.pointslist.new.label'|trans }}
                            </span>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ url('admin_mtg_points_list_card_index') }}" title="{{ 'admin.nav.mtg.pointslistcard.index.title'|trans }}">{{ 'admin.nav.mtg.pointslistcard.index.label'|trans }}</a>
                        {% if extended_view is defined and extended_view is same as(true) %}
                            <span class="inline-block px-2 pb-2 text-center">
                                {{ 'admin.nav.mtg.pointslistcard.index.label'|trans }}
                            </span>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ url('admin_mtg_points_list_card_new') }}" title="{{ 'admin.nav.mtg.pointslistcard.new.title'|trans }}">{{ 'admin.nav.mtg.pointslistcard.new.label'|trans }}</a>
                        {% if extended_view is defined and extended_view is same as(true) %}
                            <span class="inline-block px-2 pb-2 text-center">
                                {{ 'admin.nav.mtg.pointslistcard.new.label'|trans }}
                            </span>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ url('admin_mtg_card_source_activity_history_index') }}" title="{{ 'admin.nav.mtg.cardsourceactivityhistory.index.title'|trans }}">{{ 'admin.nav.mtg.cardsourceactivityhistory.index.label'|trans }}</a>
                        {% if extended_view is defined and extended_view is same as(true) %}
                            <span class="inline-block px-2 pb-2 text-center">
                                {{ 'admin.nav.mtg.cardsourceactivityhistory.index.label'|trans }}
                            </span>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ url('admin_mtg_dbupdate_index') }}" title="{{ 'admin.nav.mtg.dbupdate.index.title'|trans }}">{{ 'admin.nav.mtg.dbupdate.index.label'|trans }}</a>
                        {% if extended_view is defined and extended_view is same as(true) %}
                            <span class="inline-block px-2 pb-2 text-center">
                                {{ 'admin.nav.mtg.dbupdate.index.label'|trans }}
                            </span>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ url('admin_mtg_source_download_index') }}" title="{{ 'admin.nav.mtg.source.index.title'|trans }}">{{ 'admin.nav.mtg.source.index.label'|trans }}</a>
                        {% if extended_view is defined and extended_view is same as(true) %}
                            <span class="inline-block px-2 pb-2 text-center">
                                {{ 'admin.nav.mtg.source.index.label'|trans }}
                            </span>
                        {% endif %}
                    </li>
                </ul>
            </li>
        {% endif %}

        {# Custom blocks #}
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ url('admin_custom_block_index') }}" title="{{ 'admin.nav.customblocks.index.title'|trans }}">{{ 'admin.nav.customblocks.index.label'|trans }}</a>
                {% if extended_view is defined and extended_view is same as(true) %}
                    <span class="inline-block px-2 pb-2 text-center">
                        {{ 'admin.nav.customblocks.index.title'|trans }}
                    </span>
                {% endif %}
                <ul>
                    <li>
                        <a href="{{ url('admin_custom_block_new') }}" title="{{ 'admin.nav.customblocks.new.title'|trans }}">{{ 'admin.nav.customblocks.new.label'|trans }}</a>
                        {% if extended_view is defined and extended_view is same as(true) %}
                            <span class="inline-block px-2 pb-2 text-center">
                                {{ 'admin.nav.customblocks.new.title'|trans }}
                            </span>
                        {% endif %}
                    </li>
                </ul>
            </li>
        {% endif %}

        {# Pages #}
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ url('admin_page_index') }}" title="{{ 'admin.nav.pages.index.title'|trans }}">{{ 'admin.nav.pages.index.label'|trans }}</a>
                {% if extended_view is defined and extended_view is same as(true) %}
                    <span class="inline-block px-2 pb-2 text-center">
                        {{ 'admin.nav.pages.index.title'|trans }}
                    </span>
                {% endif %}
                <ul>
                    <li>
                        <a href="{{ url('admin_page_new') }}" title="{{ 'admin.nav.pages.new.title'|trans }}">{{ 'admin.nav.pages.new.label'|trans }}</a>
                        {% if extended_view is defined and extended_view is same as(true) %}
                            <span class="inline-block px-2 pb-2 text-center">
                                {{ 'admin.nav.pages.new.title'|trans }}
                            </span>
                        {% endif %}
                    </li>
                </ul>
            </li>
        {% endif %}

        {# Users #}
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ url('admin_user_index') }}" title="{{ 'admin.nav.users.index.title'|trans }}">{{ 'admin.nav.users.index.label'|trans }}</a>
                {% if extended_view is defined and extended_view is same as(true) %}
                    <span class="inline-block px-2 pb-2 text-center">
                        {{ 'admin.nav.users.index.title'|trans }}
                    </span>
                {% endif %}
                <ul>
                    <li>
                        <a href="{{ url('admin_user_new') }}" title="{{ 'admin.nav.users.new.title'|trans }}">{{ 'admin.nav.users.new.label'|trans }}</a>
                        {% if extended_view is defined and extended_view is same as(true) %}
                            <span class="inline-block px-2 pb-2 text-center">
                                {{ 'admin.nav.users.new.title'|trans }}
                            </span>
                        {% endif %}
                    </li>
                </ul>
            </li>
        {% endif %}

        {# Public home #}
        <li class="home-link">
            <a href="{{ url('front_home') }}" title="{{ 'admin.nav.front.title'|trans }}">{{ 'admin.nav.front.label'|trans }}</a>
            {% if extended_view is defined and extended_view is same as(true) %}
                <span class="inline-block px-2 pb-2 text-center">
                    {{ 'admin.nav.front.title'|trans }}
                </span>
            {% endif %}
        </li>
    </ul>
</nav>
