{% extends 'front/front_layout.html.twig' %}

{% block title %}{{ 'front.nav.home.label'|trans }}{% endblock %}

{% block body_attributes %}data-no-stimulus{% endblock %}

{% block top_spacer %}{% endblock %}

{% block beforemenu %}
    <div class="top-video-overflow-container min-h-screen">
        <div class="top-video-height-container min-h-[1300px]">
            <video class="hidden lg:block" controlslist="nodownload, nofullscreen, noremoteplayback" disablepictureinpicture="" autoplay="" muted="" loop="loop">
                <source src="{{ asset('videos/numbers.mp4') }}" type="video/mp4">
            </video>
            <div class="video-replacement-image block lg:hidden h-screen"></div>
        </div>
    </div>
{% endblock %}

{% block main_layout %}
    <div class="main-row theme1 unique-row justify-center transparent-row min-h-screen">
        <div class="main-column main-content h-full w-full">
            {% block main_content %}
                {% block body %}
                    <div class="w-full text-center flex flex-col justify-center items-center">
                        <div class="w-full">
                            <img class="max-w-full lg:max-w-6xl color-cycle" src="{{ asset('images/aeonshift-logo-transparent.png') }}" alt="AeonShift Logo">
                        </div>
                        <div class="w-full flex flex-col justify-center items-center">
                            <h1 class="w-auto inline-block beta">{{ 'front.home.title'|trans }}</h1>
                            <p class="w-full inline-block text-lg italic">{{ 'front.home.subtitle'|trans }}</p>
                            {{ include('front/_share_links.html.twig') }}
                        </div>
                        <div class="w-full lg:mt-28 pb-8 format-incentive lg:max-w-3/4 flex flex-col justify-center items-center">
                            <p class="w-full inline-block text-3xl">{{ 'front.home.chooselicense'|trans }}</p>
                            <a class="btn btn-star btn-big" href="{{ url('front_mtg_points_index') }}" title="{{ 'front.home.licenses.mtg.title'|trans }}">
                                <span class="top-left"></span>
                                <span class="top-right"></span>
                                <span class="title">
                                    {{ 'front.home.licenses.mtg.label'|trans }}
                                </span>
                                <span class="bottom-left"></span>
                                <span class="bottom-right"></span>
                            </a>
                        </div>
                    </div>
                {% endblock %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
