<div class="spaceless-row theme1 calculator-form-row my-4 min-h-screen" id="calculator">
    <div class="main-column no-shadow lg:pt-4 min-h-screen">

        <div class="w-full text-center flex flex-col justify-center items-center">
            <div class="flex flex-col lg:flex-row w-full justify-around items-center">
                <a class="btn btn-star btn-blue btn-big m-2" href="#quiz" title="{{ 'front.mtg.points.choose.links.quiz.title'|trans|striptags }}" data-turbo="false">
                    <span class="top-left"></span>
                    <span class="top-right"></span>
                    <span class="title">
                        <span class="icon-question"></span>
                        {{ 'front.mtg.points.choose.links.quiz.text'|trans }}
                    </span>
                    <span class="bottom-left"></span>
                    <span class="bottom-right"></span>
                </a>
                <a class="btn btn-star btn-green btn-big m-2" href="#formats" title="{{ 'front.mtg.points.choose.links.choose.title'|trans|striptags }}" data-turbo="false">
                    <span class="top-left"></span>
                    <span class="top-right"></span>
                    <span class="title">
                        <span class="icon-target"></span>
                        {{ 'front.mtg.points.choose.links.choose.text'|trans }}
                    </span>
                    <span class="bottom-left"></span>
                    <span class="bottom-right"></span>
                </a>
            </div>
        </div>

        <h2 class="w-full text-center mt-12 mb-4">{{ 'front.mtg.points.calculator.title'|trans }}</h2>

        <div class="w-full">
            <div class="mb-6 form-split">
                <div class="flex flex-col lg:flex-row items-center justify-around text-left">
                    <div class="w-full lg:w-1/3 lg:pr-6">
                        <p class="text-3xl" id="total1">{{ 'front.mtg.points.form.title'|trans }}</p>
                    </div>
                    <div class="w-full lg:w-2/3">
                        <span class="text-3xl green-text mr-6" id="format-name">AeonShift</span>
                        <span id="format-full-name" class="text-xl blue-text"></span>
                    </div>
                </div>
            </div>
            {# Number of players #}
            <div class="mb-6 form-split">
                <div class="flex flex-col lg:flex-row items-center justify-around text-left">
                    <div class="w-full lg:w-1/3 lg:pr-6">
                        <div class="label w-full">{{ 'front.mtg.points.quiz.question1.label'|trans }}</div>
                        <div class="help-text w-full">{{ 'front.mtg.points.quiz.question1.text'|trans }}</div>
                    </div>
                    <div class="w-full lg:w-2/3">
                        <div class="switch-field">
                            <input type="radio" name="players" value="duel" id="players-duel" data-name-part="Duel" checked>
                            <label for="players-duel">
                                {{ 'front.mtg.points.quiz.question1.answer1.label'|trans }}
                                <span class="tooltip">
                                    <span class="tooltip-item">
                                        <span class="icon-info"></span>
                                    </span>
                                    <span class="tooltip-content clearfix">
                                        <span class="tooltip-text">
                                            {{ 'front.mtg.points.quiz.question1.answer1.help'|trans|raw }}
                                        </span>
                                    </span>
                                </span>
                            </label>
                            <input type="radio" name="players" value="2hg" id="players-2hg" data-name-part="Two-Headed-Giant" disabled="disabled">
                            <label for="players-2hg">
                                {{ 'front.mtg.points.quiz.question1.answer2.label'|trans }}
                                <span class="tooltip">
                                    <span class="tooltip-item">
                                        <span class="icon-info"></span>
                                    </span>
                                    <span class="tooltip-content clearfix">
                                        <span class="tooltip-text">
                                            {{ 'front.mtg.points.quiz.question1.answer2.help'|trans|raw }}
                                        </span>
                                    </span>
                                </span>
                            </label>
                            <input type="radio" name="players" value="multiffa" id="players-multiffa" data-name-part="Free-For-All" disabled="disabled">
                            <label for="players-multiffa">
                                {{ 'front.mtg.points.quiz.question1.answer3.label'|trans }}
                                <span class="tooltip">
                                    <span class="tooltip-item">
                                        <span class="icon-info"></span>
                                    </span>
                                    <span class="tooltip-content clearfix">
                                        <span class="tooltip-text">
                                            {{ 'front.mtg.points.quiz.question1.answer3.help'|trans|raw }}
                                        </span>
                                    </span>
                                </span>
                            </label>
                            <input type="radio" name="players" value="teamtrio" id="players-teamtrio" data-name-part="Team Trio" disabled="disabled">
                            <label for="players-teamtrio">
                                {{ 'front.mtg.points.quiz.question1.answer4.label'|trans }}
                                <span class="tooltip">
                                    <span class="tooltip-item">
                                        <span class="icon-info"></span>
                                    </span>
                                    <span class="tooltip-content clearfix">
                                        <span class="tooltip-text">
                                            {{ 'front.mtg.points.quiz.question1.answer4.help'|trans|raw }}
                                        </span>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            {# Number of players #}
            <div class="mb-6">
                <div class="flex flex-col lg:flex-row items-center justify-around text-left">
                    <div class="w-full lg:w-1/3 lg:pr-6">
                        <div class="label w-full">{{ 'front.mtg.points.quiz.question2.label'|trans }}</div>
                        <div class="help-text w-full">{{ 'front.mtg.points.quiz.question2.text'|trans }}</div>
                    </div>
                    <div class="w-full lg:w-2/3">
                        <div class="switch-field">
                            <input type="radio" name="copies" value="singleton" id="copies-singleton" data-name-part="Singleton" checked>
                            <label for="copies-singleton">
                                {{ 'front.mtg.points.quiz.question2.answer1.label'|trans }}
                                <span class="tooltip">
                                    <span class="tooltip-item">
                                        <span class="icon-info"></span>
                                    </span>
                                    <span class="tooltip-content clearfix">
                                        <span class="tooltip-text">
                                            {{ 'front.mtg.points.quiz.question2.answer1.help'|trans|raw }}
                                        </span>
                                    </span>
                                </span>
                            </label>
                            <input type="radio" name="copies" value="singleton" id="copies-quadruple" data-name-part="Quadruples" disabled="disabled">
                            <label for="copies-quadruple">
                                {{ 'front.mtg.points.quiz.question2.answer2.label'|trans }}
                                <span class="tooltip">
                                    <span class="tooltip-item">
                                        <span class="icon-info"></span>
                                    </span>
                                    <span class="tooltip-content clearfix">
                                        <span class="tooltip-text">
                                            {{ 'front.mtg.points.quiz.question2.answer2.help'|trans|raw }}
                                        </span>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            {# Deck structure #}
            <div class="mb-6">
                <div class="flex flex-col lg:flex-row items-center justify-around text-left">
                    <div class="w-full lg:w-1/3 lg:pr-6">
                        <div class="label w-full">{{ 'front.mtg.points.quiz.question3.label'|trans }}</div>
                        <div class="help-text w-full">{{ 'front.mtg.points.quiz.question3.text'|trans }}</div>
                    </div>
                    <div class="w-full lg:w-2/3">
                        <div class="switch-field">
                            <input type="radio" name="structure" value="highlander" id="structure-highlander" data-name-part="Highlander" checked>
                            <label for="structure-highlander">
                                {{ 'front.mtg.points.quiz.question3.answer1.label'|trans }}
                                <span class="tooltip">
                                    <span class="tooltip-item">
                                        <span class="icon-info"></span>
                                    </span>
                                    <span class="tooltip-content clearfix">
                                        <span class="tooltip-text">
                                            {{ 'front.mtg.points.quiz.question3.answer1.help'|trans|raw }}
                                        </span>
                                    </span>
                                </span>
                            </label>
                            <input type="radio" name="structure" value="mtg" id="structure-mtg" data-name-part="Constructed" disabled="disabled">
                            <label for="structure-mtg">
                                {{ 'front.mtg.points.quiz.question3.answer2.label'|trans }}
                                <span class="tooltip">
                                    <span class="tooltip-item">
                                        <span class="icon-info"></span>
                                    </span>
                                    <span class="tooltip-content clearfix">
                                        <span class="tooltip-text">
                                            {{ 'front.mtg.points.quiz.question3.answer2.help'|trans|raw }}
                                        </span>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            {# Commanders/Command Zones #}
            <div class="mb-6">
                <div class="flex flex-col lg:flex-row items-center justify-around text-left">
                    <div class="w-full lg:w-1/3 lg:pr-6">
                        <div class="label w-full">{{ 'front.mtg.points.quiz.question4.label'|trans }}</div>
                        <div class="help-text w-full">{{ 'front.mtg.points.quiz.question4.text'|trans }}</div>
                    </div>
                    <div class="w-full lg:w-2/3">
                        <div class="switch-field">
                            <input type="radio" name="commander" value="no" id="commander-no" data-name-part="">
                            <label for="commander-no">
                                {{ 'front.mtg.points.quiz.question4.answer1.label'|trans }}
                                <span class="tooltip">
                                    <span class="tooltip-item">
                                        <span class="icon-info"></span>
                                    </span>
                                    <span class="tooltip-content clearfix">
                                        <span class="tooltip-text">
                                            {{ 'front.mtg.points.quiz.question4.answer1.help'|trans|raw }}
                                        </span>
                                    </span>
                                </span>
                            </label>
                            <input type="radio" name="commander" value="yes" id="commander-yes" data-name-part="Commander" checked>
                            <label for="commander-yes">
                                {{ 'front.mtg.points.quiz.question4.answer2.label'|trans }}
                                <span class="tooltip">
                                    <span class="tooltip-item">
                                        <span class="icon-info"></span>
                                    </span>
                                    <span class="tooltip-content clearfix">
                                        <span class="tooltip-text">
                                            {{ 'front.mtg.points.quiz.question4.answer2.help'|trans|raw }}
                                        </span>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            {# Maximum Legality Timeline #}
            <div class="mb-6">
                <div class="flex flex-col lg:flex-row items-center justify-around text-left">
                    <div class="w-full lg:w-1/3 lg:pr-6">
                        <div class="label w-full">{{ 'front.mtg.points.quiz.question5.label'|trans }}</div>
                        <div class="help-text w-full">{{ 'front.mtg.points.quiz.question5.text'|trans }}</div>
                    </div>
                    <div class="w-full lg:w-2/3">
                        <div class="switch-field">
                            <input type="radio" name="timeline" value="printed" id="timeline-printed" data-name-part="All-Time">
                            <label for="timeline-printed">
                                {{ 'front.mtg.points.quiz.question5.answer1.label'|trans }}
                                <span class="tooltip">
                                    <span class="tooltip-item">
                                        <span class="icon-info"></span>
                                    </span>
                                    <span class="tooltip-content clearfix">
                                        <span class="tooltip-text">
                                            {{ 'front.mtg.points.quiz.question5.answer1.help'|trans|raw }}
                                        </span>
                                    </span>
                                </span>
                            </label>
                            <input type="radio" name="timeline" value="funny" id="timeline-funny" data-name-part="Funny">
                            <label for="timeline-funny">
                                {{ 'front.mtg.points.quiz.question5.answer2.label'|trans }}
                                <span class="tooltip">
                                    <span class="tooltip-item">
                                        <span class="icon-info"></span>
                                    </span>
                                    <span class="tooltip-content clearfix">
                                        <span class="tooltip-text">
                                            {{ 'front.mtg.points.quiz.question5.answer2.help'|trans|raw }}
                                        </span>
                                    </span>
                                </span>
                            </label>
                            <input type="radio" name="timeline" value="eternal" id="timeline-eternal" data-name-part="Eternal" checked>
                            <label for="timeline-eternal">
                                {{ 'front.mtg.points.quiz.question5.answer3.label'|trans }}
                                <span class="tooltip">
                                    <span class="tooltip-item">
                                        <span class="icon-info"></span>
                                    </span>
                                    <span class="tooltip-content clearfix">
                                        <span class="tooltip-text">
                                            {{ 'front.mtg.points.quiz.question5.answer3.help'|trans|raw }}
                                        </span>
                                    </span>
                                </span>
                            </label>
                            <input type="radio" name="timeline" value="modern" id="timeline-modern" data-name-part="Modern">
                            <label for="timeline-modern">
                                {{ 'front.mtg.points.quiz.question5.answer4.label'|trans }}
                                <span class="tooltip">
                                    <span class="tooltip-item">
                                        <span class="icon-info"></span>
                                    </span>
                                    <span class="tooltip-content clearfix">
                                        <span class="tooltip-text">
                                            {{ 'front.mtg.points.quiz.question5.answer4.help'|trans|raw }}
                                        </span>
                                    </span>
                                </span>
                            </label>
                            <input type="radio" name="timeline" value="pioneer" id="timeline-pioneer" data-name-part="Pioneer">
                            <label for="timeline-pioneer">
                                {{ 'front.mtg.points.quiz.question5.answer5.label'|trans }}
                                <span class="tooltip">
                                    <span class="tooltip-item">
                                        <span class="icon-info"></span>
                                    </span>
                                    <span class="tooltip-content clearfix">
                                        <span class="tooltip-text">
                                            {{ 'front.mtg.points.quiz.question5.answer5.help'|trans|raw }}
                                        </span>
                                    </span>
                                </span>
                            </label>
                            <input type="radio" name="timeline" value="standard" id="timeline-standard" data-name-part="Standard">
                            <label for="timeline-standard">
                                {{ 'front.mtg.points.quiz.question5.answer6.label'|trans }}
                                <span class="tooltip">
                                    <span class="tooltip-item">
                                        <span class="icon-info"></span>
                                    </span>
                                    <span class="tooltip-content clearfix">
                                        <span class="tooltip-text">
                                            {{ 'front.mtg.points.quiz.question5.answer6.help'|trans|raw }}
                                        </span>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col lg:flex-row w-full justify-around items-start">
            {# Decklist textarea #}
            <div class="w-full lg:w-1/3 p-4">
                {# Decklist 1 #}
                <div id="decklist-container-1">
                    <div class="mb-2">
                        <p class="text-3xl" id="total1">{{ 'front.mtg.points.form.results.total.label'|trans }}</p>
                    </div>
                    <div class="mb-8">
                        <label for="decklist1">{{ 'front.mtg.points.form.decklist1.label'|trans }}</label>
                        <textarea rows="30" cols="30" id="decklist1" placeholder="{{ 'front.mtg.points.form.decklist1.placeholder'|trans|raw }}"></textarea>
                        <div class="mt-1 help-text">{{ 'front.mtg.points.form.decklist1.help'|trans }}</div>
                    </div>
                </div>
                {# Decklist 2 #}
                <div id="decklist-container-2" class="hidden">
                    <div class="mb-2">
                        <p class="text-3xl" id="total1">{{ 'front.mtg.points.form.results.total.label'|trans }}</p>
                    </div>
                    <div class="mb-6">
                        <label for="decklist2">{{ 'front.mtg.points.form.decklist2.label'|trans }}</label>
                        <textarea rows="30" cols="30" id="decklist2" placeholder="{{ 'front.mtg.points.form.decklist2.placeholder'|trans|raw }}"></textarea>
                        <div class="mt-1 help-text">{{ 'front.mtg.points.form.decklist2.help'|trans }}</div>
                    </div>
                </div>
                {# Decklist 3 #}
                <div id="decklist-container-3" class="hidden">
                    <div class="mb-2">
                        <p class="text-3xl" id="total3">{{ 'front.mtg.points.form.results.total.label'|trans }}</p>
                    </div>
                    <div class="mb-8">
                        <label for="decklist3">{{ 'front.mtg.points.form.decklist3.label'|trans }}</label>
                        <textarea rows="30" cols="30" id="decklist2" placeholder="{{ 'front.mtg.points.form.decklist3.placeholder'|trans|raw }}"></textarea>
                        <div class="mt-1 help-text">{{ 'front.mtg.points.form.decklist3.help'|trans }}</div>
                    </div>
                </div>
            </div>
            <div class="w-full lg:w-2/3 p-4">

            </div>
        </div>
    </div>
</div>
