<div class="spaceless-row gradient-down-theme2 relative z-40" id="choose-commander">
    <div class="main-column no-shadow py-2">
        <div class="w-full text-center flex flex-col justify-center items-center my-3">

            <div class="flex flex-col lg:flex-row w-full justify-around items-center">
                <a class="btn btn-star btn-blue btn-big m-2" href="#quiz" title="{{ 'front.mtg.choose.links.quiz.title'|trans|striptags }}" data-quiz-target="quiz-question-1" data-turbo="false">
                    <span class="top-left"></span>
                    <span class="top-right"></span>
                    <span class="title">
                        <span class="icon-question"></span>
                        {{ 'front.mtg.choose.links.quiz.text'|trans }}
                    </span>
                    <span class="bottom-left"></span>
                    <span class="bottom-right"></span>
                </a>
                <img src="{{ asset('images/aeonshift-logo-transparent-format.png') }}" alt="AeonShiftlogo" class="w-auto h-10 m-4">
                <a class="btn btn-star btn-gray btn-big m-2" href="#calculator" title="{{ 'front.mtg.choose.links.gotoform.title'|trans|striptags }}" data-turbo="false">
                    <span class="top-left"></span>
                    <span class="top-right"></span>
                    <span class="title">
                        <span class="icon-ok"></span> {{ 'front.mtg.choose.links.gotoform.back'|trans }}
                    </span>
                    <span class="bottom-left"></span>
                    <span class="bottom-right"></span>
                </a>
            </div>

        </div>
    </div>
</div>

<div class="spaceless-row theme1 bg-row-2 quiz-choice-row relative z-10 min-h-[1200px]">
    <div class="main-column no-shadow py-2 h-[1200px] format-incentive my-8">
        <div class="w-full flex flex-col justify-around items-center p-px mb-4 lg:px-4">
            <h2>{{ 'front.mtg.choose.links.choosecommander.text'|trans }}</h2>
            <p class="blue-text text-center my-1">
                <span class="icon-info"></span> {{ 'front.mtg.choose.links.choosecommander.description'|trans }}
            </p>
            <p class="blue-text text-center my-1">
                <span class="icon-info"></span> {{ 'front.mtg.choose.links.choosecommander.description2'|trans }}
            </p>
            <p class="blue-text text-center my-1 pb-2">
                <span class="icon-info"></span> {{ 'front.mtg.choose.links.choosecommander.description3'|trans }}
            </p>
            <div class="w-full flex justify-center">
                <form id="choose-commander-filter" class="w-full">
                    <fieldset class="flex flex-col mb-2">
                        <div class="w-full flex flex-row flex-wrap items-center mb-2">

                            <div class="inline-form-item flex-grow min-w-0 mx-2 my-1">
                                <label for="choose-commander-name">{{ 'front.mtg.choose.links.choosecommander.table.nameen.label'|trans }} {{ ux_icon('flag:gb-4x3') }}</label>
                                <input
                                    type="text"
                                    title="{{ 'front.mtg.choose.links.choosecommander.table.nameen.label'|trans|e('html_attr') }}"
                                    name="choose-commander-name"
                                    id="choose-commander-name"
                                    value=""
                                    placeholder="{{ 'front.mtg.choose.links.choosecommander.table.nameen.placeholder'|trans }}"
                                    data-update-commanders
                                />
                            </div>

                            <div class="inline-form-item flex-grow min-w-0 mx-2 my-1">
                                <label for="choose-commander-budget">{{ 'front.mtg.choose.links.choosecommander.table.minimumbudget.label'|trans }}</label>
                                <input
                                    type="number"
                                    step="1"
                                    min="0"
                                    max="200"
                                    title="{{ 'front.mtg.choose.links.choosecommander.table.minimumbudget.label'|trans|e('html_attr') }}"
                                    name="choose-commander-budget"
                                    id="choose-commander-budget"
                                    value="0"
                                    placeholder="{{ 'front.mtg.choose.links.choosecommander.table.minimumbudget.placeholder'|trans }}"
                                    data-update-commanders
                                />
                            </div>

                            <div class="inline-form-item flex grow min-w-0 mx-2 my-1">
                                <label for="choose-commander-duel-ranking">{{ 'front.mtg.choose.links.choosecommander.form.ranking.players.duel'|trans }}</label>
                                <select
                                    required="required"
                                    name="choose-commander-duel-ranking"
                                    id="choose-commander-duel-ranking"
                                    class="w-full"
                                    title="{{ 'front.mtg.choose.links.choosecommander.form.ranking.players.duel'|trans|e('html_attr') }}"
                                    data-update-commanders
                                >
                                    <option value="top">{{ 'front.mtg.choose.links.choosecommander.form.ranking.top'|trans }}</option>
                                    <option value="popular">{{ 'front.mtg.choose.links.choosecommander.form.ranking.popular'|trans }}</option>
                                    <option value="alltournamentranked">{{ 'front.mtg.choose.links.choosecommander.form.ranking.alltournamentranked'|trans }}</option>
                                    <option selected="selected" value="all">{{ 'front.mtg.choose.links.choosecommander.form.ranking.all'|trans }}</option>
                                </select>
                            </div>

                            <div class="inline-form-item flex grow min-w-0 mx-2 my-1">
                                <label for="choose-commander-cedh-ranking">{{ 'front.mtg.choose.links.choosecommander.form.ranking.players.cedh'|trans }}</label>
                                <select
                                    required="required"
                                    name="choose-commander-cedh-ranking"
                                    id="choose-commander-cedh-ranking"
                                    class="w-full"
                                    title="{{ 'front.mtg.choose.links.choosecommander.form.ranking.players.cedh'|trans|e('html_attr') }}"
                                    data-update-commanders
                                >
                                    <option value="top">{{ 'front.mtg.choose.links.choosecommander.form.ranking.top'|trans }}</option>
                                    <option value="popular">{{ 'front.mtg.choose.links.choosecommander.form.ranking.popular'|trans }}</option>
                                    <option value="alltournamentranked">{{ 'front.mtg.choose.links.choosecommander.form.ranking.alltournamentranked'|trans }}</option>
                                    <option selected="selected" value="all">{{ 'front.mtg.choose.links.choosecommander.form.ranking.all'|trans }}</option>
                                </select>
                            </div>

                            <div class="inline-form-item flex grow min-w-0 mx-2 my-1">
                                <label for="choose-commander-ffa-ranking">{{ 'front.mtg.choose.links.choosecommander.form.ranking.players.ffa'|trans }}</label>
                                <select
                                    required="required"
                                    name="choose-commander-ffa-ranking"
                                    id="choose-commander-ffa-ranking"
                                    class="w-full"
                                    title="{{ 'front.mtg.choose.links.choosecommander.form.ranking.players.ffa'|trans|e('html_attr') }}"
                                    data-update-commanders
                                >
                                    <option value="top">{{ 'front.mtg.choose.links.choosecommander.form.ranking.top'|trans }}</option>
                                    <option value="popular">{{ 'front.mtg.choose.links.choosecommander.form.ranking.popular'|trans }}</option>
                                    <option value="alltournamentranked">{{ 'front.mtg.choose.links.choosecommander.form.ranking.alltournamentranked'|trans }}</option>
                                    <option selected="selected" value="all">{{ 'front.mtg.choose.links.choosecommander.form.ranking.all'|trans }}</option>
                                </select>
                            </div>

                            <div class="flex flex-col grow min-w-0 items-center justify-center mx-2 my-1">
                                <label class="w-full" for="choose-commander-color-identity">{{ 'front.mtg.choose.links.choosecommander.table.coloridentity.label'|trans }}</label>
                                <div class="w-full flex flex-row py-2">
                                    {% for color in ['W', 'U', 'B', 'R', 'G', 'C'] %}
                                        <div class="color-picker color-picker-{{ color|lower }} color-identity-{{ color|lower }}">
                                            <label for="choose-commander-color-identity-{{ color|lower }}">{{ color|lower }}</label>
                                            <input
                                                type="checkbox"
                                                name="choose-commander-color-identity[]"
                                                id="choose-commander-color-identity-{{ color|lower }}"
                                                data-color="data-color-{{ color|lower }}"
                                                value="{{ color }}"
                                                title="{ {{ color|lower }} }"
                                                data-update-commanders
                                            >
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="table-wrapper my-4 p-0 overflow-scroll max-h-[800px] border-solid border-gray border w-full">
                <table class="table center header-highlight-table w-full m-0 p-0 sortable-table" style="margin: 0 !important;" id="choose-commander-table">
                    <thead class="top-0" style="top: 0 !important;">
                        <tr>
                            <th title="{{ 'front.mtg.choose.links.choosecommander.table.sort.label'|trans|e('html_attr') }}" class="sortable" role="button" tabindex="0" style="width: 260px;">{{ 'front.mtg.choose.links.choosecommander.table.nameen.label'|trans }} {{ ux_icon('flag:gb-4x3') }}</th>
                            <th title="{{ 'front.mtg.choose.links.choosecommander.table.sort.label'|trans|e('html_attr') }}" class="sortable" role="button" tabindex="0" style="width: 95px;">{{ 'front.mtg.choose.links.choosecommander.table.budget.label'|trans }}</th>
                            <th title="{{ 'front.mtg.choose.links.choosecommander.table.addtodeck.title'|trans }}" style="width: 95px;">{{ 'front.mtg.choose.links.choosecommander.table.addtodeck.title'|trans }}</th>
                            <th title="{{ 'front.mtg.choose.links.choosecommander.table.sort.label'|trans|e('html_attr') }}" class="sortable" role="button" tabindex="0" style="width: 130px;">{{ 'front.mtg.choose.links.choosecommander.table.status.label'|trans }}</th>
                            <th title="{{ 'front.mtg.choose.links.choosecommander.table.sort.label'|trans|e('html_attr') }}" class="sortable" role="button" tabindex="0" style="width: 130px;">{{ 'front.mtg.choose.links.choosecommander.table.rankingindex.duel.label'|trans }}</th>
                            <th title="{{ 'front.mtg.choose.links.choosecommander.table.sort.label'|trans|e('html_attr') }}" class="sortable" role="button" tabindex="0" style="width: 130px;">{{ 'front.mtg.choose.links.choosecommander.table.rankingindex.cedh.label'|trans }}</th>
                            <th title="{{ 'front.mtg.choose.links.choosecommander.table.sort.label'|trans|e('html_attr') }}" class="sortable" role="button" tabindex="0" style="width: 130px;">{{ 'front.mtg.choose.links.choosecommander.table.rankingindex.ffa.label'|trans }}</th>
                            <th title="{{ 'front.mtg.choose.links.choosecommander.table.sort.label'|trans|e('html_attr') }}" class="sortable" role="button" tabindex="0" style="width: 130px;">{{ 'front.mtg.choose.links.choosecommander.table.coloridentity.label'|trans }}</th>
                            <th title="{{ 'front.mtg.choose.links.choosecommander.table.sort.label'|trans|e('html_attr') }}" class="sortable" role="button" tabindex="0" style="width: 80px;">{{ 'front.mtg.choose.links.choosecommander.table.firstprintedyear.label'|trans }}</th>
                            <th title="{{ 'front.mtg.choose.links.choosecommander.table.sort.label'|trans|e('html_attr') }}" class="sortable" role="button" tabindex="0" style="width: 70px;">{{ 'front.mtg.choose.links.choosecommander.table.mv.label'|trans }}</th>
                            <th title="{{ 'front.mtg.choose.links.choosecommander.table.sort.label'|trans|e('html_attr') }}" class="sortable" role="button" tabindex="0" style="width: 170px;">{{ 'front.mtg.choose.links.choosecommander.table.multicztype.label'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if commanders is defined and commanders is iterable and ranking_totals is defined and ranking_totals is iterable %}
                            {% for commander in commanders %}
                                <tr
                                    data-commander-id="{{ commander.id }}"
                                    data-commander-name="{{ commander.nameEn }}"
                                    data-ranking-duel-class="{{ ranking_class(commander.duelRank, ranking_totals.duel) }}"
                                    data-ranking-cedh-class="{{ ranking_class(commander.cEDHRank, ranking_totals.cedh) }}"
                                    data-ranking-ffa-class="{{ ranking_class(commander.fFARank, ranking_totals.ffa) }}"
                                    data-color-identity="{{ commander.colorIdentity|join('') }}"
                                    data-maximum-timeline="{{ commander.maximumTimelineLegality }}"
                                    data-first-printed-at="{{ commander.firstPrintedAt|date('Y-m-d\TH:i:s\Z') }}"
                                    data-budget=""
                                    data-multicz-type="{{ commander.multiczType }}"
                                    {% if commander.white is same as(true) %}data-color-w="true"{% endif %}
                                    {% if commander.blue is same as(true) %}data-color-u="true"{% endif %}
                                    {% if commander.black is same as(true) %}data-color-b="true"{% endif %}
                                    {% if commander.red is same as(true) %}data-color-r="true"{% endif %}
                                    {% if commander.green is same as(true) %}data-color-g="true"{% endif %}
                                    {% if commander.colorless is same as(true) %}data-color-c="true"{% endif %}
                                >
                                    <td>
                                        <a href="https://scryfall.com/search?q={{ commander.nameEn|e('url') }}" target="_blank" data-imageurl="{{ commander.imageUrl }}" title="Scryfall Search">
                                            <span class="icon-search"></span>
                                            <strong>{{ commander.nameEn }}</strong>
                                        </a>
                                    </td>
                                    <td class="commander-budget font-bold text-lg" data-field="budget">0</td>
                                    <td>
                                        <a data-card="{{ commander.nameEn }}" data-addtodeck="1" data-zone="commandzone" class="btn btn-green text-sm addtodeck1 cursor-pointer py-0! mt-0! mb-0! px-1!" title="{{ 'front.mtg.choose.links.choosecommander.table.addtodeck.title'|trans|e('html_attr') }} 1"><span class="icon-plus-circled"></span> {{ 'front.mtg.choose.links.choosecommander.table.addtodeck.label'|trans|raw }} 1</a>
                                        <a data-card="{{ commander.nameEn }}" data-addtodeck="2" data-zone="commandzone" class="btn btn-blue text-sm addtodeck2 cursor-pointer py-0! mt-1! mb-1! px-1!" title="{{ 'front.mtg.choose.links.choosecommander.table.addtodeck.title'|trans|e('html_attr') }} 2"><span class="icon-plus-circled"></span> {{ 'front.mtg.choose.links.choosecommander.table.addtodeck.label'|trans|raw }} 2</a>
                                        <a data-card="{{ commander.nameEn }}" data-addtodeck="3" data-zone="commandzone" class="btn btn-yellow text-sm addtodeck3 cursor-pointer py-0! mt-0! mb-0! px-1!" title="{{ 'front.mtg.choose.links.choosecommander.table.addtodeck.title'|trans|e('html_attr') }} 3"><span class="icon-plus-circled"></span> {{ 'front.mtg.choose.links.choosecommander.table.addtodeck.label'|trans|raw }} 3</a>
                                    </td>
                                    <td data-field="status"></td>
                                    <td>{{ ranking_decorator(commander.duelRank, 750) }}</td>
                                    <td>{{ ranking_decorator(commander.cEDHRank, 750) }}</td>
                                    <td>{{ ranking_decorator(commander.fFARank, 50000) }}</td>
                                    <td>
                                        <span class="text-lg flex flex-row items-center justify-center w-full h-full">
                                            {% if commander.colorIdentity is iterable %}
                                                {{ color_identity_array_to_balls(commander.colorIdentity) }}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td>{{ commander.firstPrintedYear }}</td>
                                    <td>
                                        <span class="" data-mv>{{ commander.manaValue }}</span>
                                    </td>
                                    <td class="pr-1">
                                        {{ partner_ability_format(commander.multiczType)|raw }}
                                        <span data-multicztype></span>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
