{# Decklist textareas #}
<div class="flex flex-col w-full justify-around items-start">

    {% set decklists = [1, 2, 3] %}

    {% for i in decklists %}
        <div class="flex flex-col lg:flex-row w-full justify-around flex-wrap items-start my-4"
             id="decklist-container-{{ i }}"
             data-decklist-container="{{ i }}"
        >
            <div class="w-full lg:w-1/3 py-4">
                <div class="mb-4 lg:pr-4 flex flex-col items-center justify-center">
                    <label class="text-xl green-text text-center" for="decklist{{ i }}">{{ ('front.mtg.form.decklist' ~ i ~ '.label')|trans|raw }}</label>
                    <span id="decklist{{ i }}-fixed" class="text-sm green-text hidden" data-decklist-fixed="{{ i }}">
                        <span class="icon-info"></span> {{ 'front.mtg.form.fixeddecklist'|trans|raw }}
                    </span>

                    <div class="flex flex-row items-center justify-around flex-wrap w-full">
                        <a data-action="choose-commander-incentive" class="btn btn-blue mb-2 mt-4 text-xl" href="#choose-commander">
                            <span class="icon-diamond mr-3"></span> {{ 'front.mtg.choose.links.choosecommander.text'|trans }}
                        </a>
                        <a data-action="choose-cards-incentive" class="btn btn-blue mb-2 mt-4 text-xl" href="#card-rankings">
                            <span class="icon-docs mr-3"></span> {{ 'front.mtg.choose.links.viewpoints.text'|trans }}
                        </a>
                    </div>

                    <form id="decklist{{ i }}-add-card" class="w-full card-add-form" data-decklist-add-card-form="{{ i }}">
                        <fieldset class="flex flex-col mb-2">
                            <legend class="uppercase text-sm">{{ 'mtg.addform.title'|trans }}</legend>

                            <div class="w-full flex flex-row items-end mb-2">
                                <div class="inline-form-item flex-grow min-w-0">
                                    <label for="decklist{{ i }}-name">{{ 'mtg.name.label'|trans }}</label>
                                    <div class="relative m-0 p-0">
                                        <input
                                            type="text"
                                            title="{{ 'mtg.name.label'|trans|e('html_attr') }}"
                                            name="decklist{{ i }}-name"
                                            id="decklist{{ i }}-name"
                                            value=""
                                            placeholder="{{ 'mtg.name.placeholder'|trans }}"
                                            data-forzone="decklist{{ i }}-cardzone"
                                        />
                                    </div>
                                </div>
                            </div>

                            <div class="w-full flex flex-row items-center gap-2">
                                <div class="inline-form-item flex grow min-w-0">
                                    <label for="decklist{{ i }}-cardzone">{{ 'mtg.cardzones.choose'|trans }}</label>
                                    <select
                                        required="required"
                                        name="decklist{{ i }}-cardzone"
                                        id="decklist{{ i }}-cardzone"
                                        class="w-full"
                                        title="{{ 'mtg.cardzones.choose'|trans|e('html_attr') }}"
                                    >
                                        <option value="commandzone">{{ 'mtg.cardzones.commandzone'|trans }}</option>
                                        <option value="maindeck">{{ 'mtg.cardzones.maindeck'|trans }}</option>
                                        <option value="sideboard">{{ 'mtg.cardzones.sideboard'|trans }}</option>
                                        <option value="companion">{{ 'mtg.cardzones.companion'|trans }}</option>
                                        <option value="attractions">{{ 'mtg.cardzones.attractions'|trans }}</option>
                                        <option value="contraptions">{{ 'mtg.cardzones.contraptions'|trans }}</option>
                                        <option value="stickers">{{ 'mtg.cardzones.stickers'|trans }}</option>
                                    </select>
                                </div>

                                <div class="inline-form-item shrink-0 min-w-24">
                                    <label for="decklist{{ i }}-copies">{{ 'mtg.copies.text'|trans }}</label>
                                    <input
                                        title="{{ 'mtg.copies.text'|trans|e('html_attr') }}"
                                        type="number"
                                        step="1"
                                        min="0"
                                        max="100"
                                        required="required"
                                        name="decklist{{ i }}-copies"
                                        id="decklist{{ i }}-copies"
                                        value="1"
                                        class="w-full"
                                    />
                                </div>

                                <div class="inline-form-item shrink-0 min-w-32">
                                    <button
                                        type="submit"
                                        class="btn btn-green w-full"
                                        id="decklist{{ i }}-add"
                                        title="{{ 'mtg.add.label'|trans|e('html_attr') }}"
                                        data-decklist-add-button="{{ i }}"
                                    >
                                        {{ 'mtg.add.label'|trans }}
                                        <span class="icon-plus"></span>
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                    <label for="decklist{{ i }}" class="text-xl green-text">{{ ('front.mtg.form.decklist' ~ i ~ '.incentive')|trans|raw }}</label>

                    <textarea
                        class="decklist-cards"
                        rows="18"
                        cols="30"
                        id="decklist{{ i }}"
                        placeholder="{{ ('front.mtg.form.decklist' ~ i ~ '.placeholder')|trans|raw }}"
                        data-update-format
                        data-decklist="{{ i }}"
                    ></textarea>

                    <div class="mt-2 text-justify green-text">
                        {{ ('front.mtg.form.decklist' ~ i ~ '.help')|trans|raw }}
                    </div>
                </div>
            </div>

            <div class="w-full lg:w-2/3 py-4">
                <div class="lg:pl-4">
                    <div class="text-2xl inline-block w-full mb-4 blue-text uppercase" id="total{{ i }}" data-decklist-total-title="{{ i }}">
                        <span class="icon-chart-bar mr-2"></span> {{ ('front.mtg.form.results.decklist' ~ i ~ '.label')|trans }}
                    </div>

                    <div class="dark-alt-background flex flex-col my-2 text-lg w-full rounded-lg p-4">
                        <div class="text-xl w-full green-text" id="decklist{{ i }}-start">
                            <span class="icon-thumbs-up-alt m-0"></span> {{ 'front.mtg.form.results.start.label'|trans|raw }}
                        </div>

                        <div class="text-xl w-full green-text hidden" id="decklist{{ i }}-legal" data-decklist-legal="{{ i }}">
                            <span class="icon-ok m-0"></span> {{ 'front.mtg.form.results.legal.yes.label'|trans|raw }}
                            <br>
                            <a class="btn btn-green cursor-pointer text-base mt-2" data-class="decklist-download-link" data-target="decklist{{ i }}" title="{{ 'front.mtg.form.results.legal.download.label.link.label'|trans|e('html_attr') }}">
                                <span class="icon-share"></span> {{ 'front.mtg.form.results.legal.download.label.link.label'|trans }}
                            </a>
                        </div>

                        <div class="text-xl w-full red-text hidden" id="decklist{{ i }}-illegal" data-decklist-illegal="{{ i }}">
                            <span class="icon-cancel"></span> {{ 'front.mtg.form.results.legal.no.label'|trans|raw }}
                        </div>

                        <div class="text-xl w-full mt-2 red-text decklist-errors hidden" id="decklist{{ i }}-errors" data-decklist-errors="{{ i }}"></div>
                    </div>

                    <div class="text-xl inline-flex w-full mt-6 mb-2 blue-text uppercase">
                        &darr; {{ 'front.mtg.form.results.breakdown.title'|trans|raw }}
                    </div>

                    <div class="dark-alt-background my-2 text-lg w-full {# inline-flex #} flex-col lg:flex-row justify-between rounded-lg p-3 hidden">
                        <span class="inline-block w-1/2">
                            <span class="tooltip">
                                <span class="tooltip-item">
                                    <span class="icon-info mr-2"></span>
                                </span>
                                <span class="tooltip-content clearfix">
                                    <span class="tooltip-text">
                                        {{ 'front.mtg.form.results.breakdown.basepoints.help'|trans|raw }}
                                    </span>
                                </span>
                            </span>
                            {{ 'front.mtg.form.results.breakdown.basepoints.text'|trans|raw }}
                        </span>
                        <span class="nline-block w-1/2">
                            <span class=" inline-block green-text font-bold text-2xl" id="decklist{{ i }}-basepoints">{{ 'global.none.label'|trans }}</span>
                        </span>
                    </div>

                    <div class="dark-alt-background inline-flex flex-col lg:flex-row my-2 text-lg w-full rounded-lg p-3">
                        <div class="w-full lg:w-1/2">
                            <span class="tooltip">
                                <span class="tooltip-item">
                                    <span class="icon-info mr-2"></span>
                                </span>
                                <span class="tooltip-content clearfix">
                                    <span class="tooltip-text">
                                        {{ 'front.mtg.form.results.breakdown.modulations.help'|trans|raw }}
                                    </span>
                                </span>
                            </span>
                            {{ 'front.mtg.form.results.breakdown.modulations.text'|trans|raw }}
                        </div>
                        <details class="w-full mb-2 mt-2 lg:mt-0 blue-text lg:w-1/2 cards-list">
                            <summary>&darr; {{ 'front.mtg.form.results.breakdown.modulations.viewmore'|trans }}</summary>
                            <div class="w-full border-t border-t-gray-500 border-t-solid details-content">
                                <ul class="blue-text inline-block w-full mt-2 decklist-modulations" id="decklist{{ i }}-modulations">
                                    <li>{{ 'global.none.label'|trans }}</li>
                                </ul>
                            </div>
                        </details>
                    </div>

                    <div class="dark-alt-background my-2 text-lg w-full inline-flex flex-row flex-wrap justify-between rounded-lg p-3">
                        <span class="inline-block w-1/2">
                            <span class="tooltip">
                                <span class="tooltip-item">
                                    <span class="icon-info mr-2"></span>
                                </span>
                                <span class="tooltip-content clearfix">
                                    <span class="tooltip-text">
                                        {{ 'front.mtg.form.results.breakdown.budget.help'|trans|raw }}
                                    </span>
                                </span>
                            </span>
                            {{ 'front.mtg.form.results.breakdown.budget.text'|trans|raw }}
                        </span>
                        <span class="inline-block w-1/2">
                            <span class=" inline-block green-text font-bold text-2xl" id="decklist{{ i }}-budget-points">{{ 'global.none.label'|trans }}</span>
                        </span>
                        <span class="inline-block w-1/2">
                            <span class="tooltip">
                                <span class="tooltip-item">
                                    <span class="icon-info mr-2"></span>
                                </span>
                                <span class="tooltip-content clearfix">
                                    <span class="tooltip-text">
                                        {{ 'front.mtg.form.results.breakdown.remaining.help'|trans|raw }}
                                    </span>
                                </span>
                            </span>
                            {{ 'front.mtg.form.results.breakdown.remaining.text'|trans|raw }}
                        </span>
                        <span class="inline-block w-1/2">
                            <span class="inline-block blue-text font-bold text-2xl" id="decklist{{ i }}-remaining-points">{{ 'global.none.label'|trans }}</span>
                        </span>
                    </div>

                    <div class="dark-alt-background inline-flex flex-col lg:flex-row my-2 text-lg w-full rounded-lg p-3">
                        <div class="w-full lg:w-1/2">
                            <span class="tooltip">
                                <span class="tooltip-item">
                                    <span class="icon-info mr-2"></span>
                                </span>
                                <span class="tooltip-content clearfix">
                                    <span class="tooltip-text">
                                        {{ 'front.mtg.form.results.breakdown.usage.help'|trans|raw }}
                                    </span>
                                </span>
                            </span>
                            {{ 'front.mtg.form.results.breakdown.usage.text'|trans|raw }}
                        </div>
                        <ul class="blue-text inline-block w-full lg:w-1/2 mt-2 lg:mt-0 decklist-breakdown" id="decklist{{ i }}-points-usage">
                            <li>{{ 'global.none.label'|trans }}</li>
                        </ul>
                    </div>

                    <div class="dark-alt-background my-2 text-lg w-full inline-flex flex-row flex-wrap justify-between rounded-lg p-3 hidden-form">
                        <span class="inline-block w-full lg:w-1/2">
                            <span class="tooltip">
                                <span class="tooltip-item">
                                    <span class="icon-info mr-2"></span>
                                </span>
                                <span class="tooltip-content clearfix">
                                    <span class="tooltip-text">
                                        {{ 'front.mtg.form.results.breakdown.mvalue.help'|trans|raw }}
                                    </span>
                                </span>
                            </span>
                            {{ 'front.mtg.form.results.breakdown.mvalue.text'|trans|raw }}
                        </span>
                        <div class="lg:w-1/2">
                            <span class="inline-block blue-text font-bold mb-2" id="decklist{{ i }}-mvalue">{{ 'global.none.label'|trans }}</span>
                            <details class="w-full mb-2 mt-2 lg:mt-0 blue-text cards-list">
                                <summary>&darr; {{ 'front.mtg.form.results.breakdown.mvalue.viewmore'|trans }}</summary>
                                <div class="w-full border-t border-t-gray-500 border-t-solid details-content">
                                    <ul class="inline-block decklist-card-list" id="decklist{{ i }}-mvalues">
                                        <li>{{ 'global.none.label'|trans }}</li>
                                    </ul>
                                </div>
                            </details>
                        </div>
                    </div>

                    <div class="dark-alt-background my-2 text-lg w-full inline-flex flex-row flex-wrap justify-between rounded-lg p-3">
                        <span class="inline-block w-full lg:w-1/2">
                            <span class="tooltip">
                                <span class="tooltip-item">
                                    <span class="icon-info mr-2"></span>
                                </span>
                                <span class="tooltip-content clearfix">
                                    <span class="tooltip-text">
                                        {{ 'front.mtg.form.results.breakdown.cards.help'|trans|raw }}
                                    </span>
                                </span>
                            </span>
                            {{ 'front.mtg.form.results.breakdown.cards.text'|trans|raw }}
                        </span>
                        <details class="w-full mb-2 mt-2 lg:mt-0 blue-text lg:w-1/2 cards-list">
                            <summary>
                                &darr; {{ 'front.mtg.form.results.breakdown.cards.viewmore'|trans }}
                                <span class="gray-text mr-8" id="decklist{{ i }}-total"></span>
                            </summary>
                            <div class="w-full border-t border-t-gray-500 border-t-solid details-content">
                                <ul class="inline-block decklist-card-list" id="decklist{{ i }}-cards">
                                    <li>{{ 'global.none.label'|trans }}</li>
                                </ul>
                            </div>
                        </details>
                    </div>
                </div>
            </div>

            <div class="w-full mb-6 hidden" id="decklist{{ i }}-visual">
                <details class="w-full mb-2">
                    <summary>
                        <span>
                            <span class="icon-docs mr-2"></span> {{ 'front.mtg.visuallist.title'|trans }}
                        </span>
                    </summary>

                    <div class="w-full border-t border-t-gray-500 border-t-solid details-content p-3 dark-background">
                        {% for zone in ['commandzone', 'companions', 'maindeck', 'sideboard', 'attractions', 'stickers', 'contraptions'] %}
                            <div class="visual-list-zone-container hidden" data-zone="{{ zone }}">
                                <h4 class="green-text">{{ ('front.mtg.form.results.breakdown.cardzones.' ~ zone)|trans }}</h4>
                                {% for maintype in ['creature', 'planeswalker', 'battle', 'conspiracy', 'sticker', 'attraction', 'contraption', 'artifact', 'enchantment', 'sorcery', 'instant', 'land'] %}
                                    <fieldset class="visual-list-type-container dark-alt-background hidden" data-type="{{ maintype }}">
                                        <legend class="blue-text">{{ maintype }} <span data-type-total="{{ maintype }}"></span></legend>
                                        <div class="visual-list-cards-container"></div>
                                    </fieldset>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </details>
            </div>
        </div>
    {% endfor %}

</div>
