<div class="spaceless-row gradient-down-theme2 relative z-40" id="formats">
    <div class="main-column no-shadow py-2">
        <div class="w-full text-center flex flex-col justify-center items-center my-3">

            <div class="flex flex-col lg:flex-row w-full justify-around items-center">
                <a class="btn btn-star btn-blue btn-big m-2" href="#quiz" title="{{ 'front.mtg.choose.links.quiz.title'|trans|striptags }}" data-quiz-target="quiz-question-1" data-turbo="false">
                    <span class="top-left"></span>
                    <span class="top-right"></span>
                    <span class="title">
                        <span class="icon-question"></span>
                        {{ 'front.mtg.choose.links.quiz.text'|trans }}
                    </span>
                    <span class="bottom-left"></span>
                    <span class="bottom-right"></span>
                </a>
                <img src="{{ asset('images/aeonshift-logo-transparent-format.png') }}" alt="AeonShiftlogo" class="w-auto h-10 m-4">
                <a class="btn btn-star btn-gray btn-big m-2" href="#calculator" title="{{ 'front.mtg.choose.links.gotoform.title'|trans|striptags }}" data-turbo="false">
                    <span class="top-left"></span>
                    <span class="top-right"></span>
                    <span class="title">
                        <span class="icon-chart-bar"></span>
                        {{ 'front.mtg.choose.links.gotoform.text'|trans }}
                    </span>
                    <span class="bottom-left"></span>
                    <span class="bottom-right"></span>
                </a>
            </div>

        </div>
    </div>
</div>

<div class="spaceless-row theme1 quiz-choice-row">
    <div class="main-column no-shadow pb-6 lg:pt-4 lg:min-h-screen">
        <div class="w-full text-center flex flex-col justify-center items-center my-3">

            <h2 class="w-full mt-12">
                <span class="icon-star"></span>
                {{ 'front.mtg.choose.title'|trans|raw }}
                <span class="icon-star"></span>
            </h2>

            <hr class="w-1/2">

            <h3 class="w-full mt-6 mb-8">{{ 'mtg.popular.eternal.title'|trans|raw }}</h3>

            <div class="grid grid-cols-[repeat(auto-fit,minmax(340px,1fr))] max-w-3xl lg:max-w-5xl xl:max-w-7xl gap-12 mb-10">
                <div class="format-card" data-tilt data-tilt-max="10" data-tilt-speed="100" data-tilt-perspective="3000" data-tilt-glare data-tilt-max-glare="0.4" data-tilt-scale="1.03" data-tilt-reset="true">
                    <a href="#calculator" title="{{ 'mtg.popular.singleton.eternal.duelcommander.title'|trans }}" data-format-switch="aeonshift-duel-commander" data-turbo="false">
                        <span class="inline-block relative format-image-container">
                            <img class="format-bg" src="{{ asset('images/dc.jpg') }}" alt="MTG background, Command Tower">
                            <span class="format-ball top-[calc(50%-22px)] left-[calc(25%-12px)] pop-text">20</span>
                            <span class="format-ball format-ball-blue top-[calc(50%-22px)] right-[calc(25%-12px)] pop-text">20</span>
                        </span>
                        <span class="pop-text w-full h-full py-3 px-2 flex flex-col items-center justify-around">
                            <span class="inline-block title-h3 white-text pt-0 pb-3 px-2">
                                <img class="mb-2 w-full h-auto" src="{{ asset('images/aeonshift-logo-transparent.png') }}" alt="AeonShift Logo, transparent">
                                {{ 'mtg.popular.singleton.eternal.duelcommander.label'|trans }}
                            </span>
                            <span class="inline-flex w-full green-text pt-4 pb-2 px-4 text-lg flex-1 flex-col items-center justify-around">
                                <span>{{ 'mtg.popular.singleton.eternal.duelcommander.subtitle'|trans|raw }}</span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="format-card coming-soon">
                    <a {# href="#calculator" #} title="{{ 'mtg.popular.singleton.eternal.commander.title'|trans }}" {# data-format-switch="aeonshift-commander" #} data-turbo="false">
                        <span class="inline-block relative format-image-container">
                            <img class="format-bg" src="{{ asset('images/commander.jpg') }}" alt="MTG background, Arcane Signet">
                            <span class="format-ball top-[calc(25%-22px)] left-[calc(25%-12px)] pop-text">40</span>
                            <span class="format-ball format-ball-blue top-[calc(25%-22px)] right-[calc(25%-12px)] pop-text">40</span>
                            <span class="format-ball format-ball-red bottom-[calc(25%-22px)] left-[calc(25%-12px)] pop-text">40</span>
                            <span class="format-ball format-ball-green bottom-[calc(25%-22px)] right-[calc(25%-12px)] pop-text">40</span>
                        </span>
                        <span class="pop-text w-full h-full py-3 px-2 flex flex-col items-center justify-around">
                            <span class="inline-block title-h3 white-text pt-0 pb-3 px-2">
                                <img class="mb-2 w-full h-auto" src="{{ asset('images/aeonshift-logo-transparent.png') }}" alt="AeonShift Logo, transparent">
                                {{ 'mtg.popular.singleton.eternal.commander.label'|trans }}
                            </span>
                            <span class="inline-flex w-full green-text pt-4 pb-2 px-4 text-lg flex-1 flex-col items-center justify-around">
                                <span>{{ 'mtg.popular.singleton.eternal.commander.subtitle'|trans|raw }}</span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="format-card coming-soon">
                    <a {# href="#calculator" #} title="{{ 'mtg.popular.singleton.eternal.highlander.title'|trans }}" {# data-format-switch="aeonshift-highlander" #} data-turbo="false">
                        <span class="inline-block relative format-image-container">
                            <img class="format-bg" src="{{ asset('images/highlander.jpg') }}" alt="MTG background, Demonic Tutor">
                            <span class="format-ball top-[calc(50%-22px)] left-[calc(25%-12px)] pop-text">20</span>
                            <span class="format-ball format-ball-blue top-[calc(50%-22px)] right-[calc(25%-12px)] pop-text">20</span>
                        </span>
                        <span class="pop-text w-full h-full py-3 px-2 flex flex-col items-center justify-around">
                            <span class="inline-block title-h3 white-text pt-0 pb-3 px-2">
                                <img class="mb-2 w-full h-auto" src="{{ asset('images/aeonshift-logo-transparent.png') }}" alt="AeonShift Logo, transparent">
                                {{ 'mtg.popular.singleton.eternal.highlander.label'|trans }}
                            </span>
                            <span class="inline-flex w-full green-text pt-4 pb-2 px-4 text-lg flex-1 flex-col items-center justify-around">
                                <span>{{ 'mtg.popular.singleton.eternal.highlander.subtitle'|trans|raw }}</span>
                            </span>
                        </span>
                    </a>
                </div>
                {#
                <div class="format-card coming-soon">
                    <a title="{{ 'mtg.popular.singleton.eternal.2hg.title'|trans }}" data-format-switch="aeonshift-2hg">
                        <span class="inline-block relative format-image-container">
                            <img class="format-bg" src="{{ asset('images/2hg.jpg') }}" alt="MTG background, Back to Basics">
                            <span class="format-ball top-[calc(50%-49px)] left-[calc(25%-12px)] pop-text">3</span>
                            <span class="format-ball top-[calc(50%+13px)] left-[calc(25%-12px)] pop-text">0</span>
                            <span class="format-ball format-ball-blue top-[calc(50%-49px)] right-[calc(25%-12px)] pop-text">3</span>
                            <span class="format-ball format-ball-blue top-[calc(50%+13px)] right-[calc(25%-12px)] pop-text">0</span>
                        </span>
                        <span class="pop-text w-full h-full py-3 px-2 flex flex-col items-center justify-around">
                            <span class="inline-block title-h3 white-text pt-0 pb-3 px-2">
                                <img class="mb-2 w-full h-auto" src="{{ asset('images/aeonshift-logo-transparent.png') }}" alt="AeonShift Logo, transparent">
                                {{ 'mtg.popular.singleton.eternal.2hg.label'|trans }}
                            </span>
                            <span class="inline-flex w-full green-text pt-4 pb-2 px-4 text-lg flex-1 flex-col items-center justify-around">
                                <span>{{ 'mtg.popular.singleton.eternal.2hg.subtitle'|trans|raw }}</span>
                            </span>
                        </span>
                    </a>
                </div>
                #}
                <div class="format-card coming-soon">
                    <a {# href="#calculator" #} title="{{ 'mtg.popular.quadruples.eternal.eternal.title'|trans }}" {# data-format-switch="aeonshift-eternal" #} data-turbo="false">
                        <span class="inline-block relative format-image-container">
                            <img class="format-bg" src="{{ asset('images/vintage.jpg') }}" alt="MTG background, Channel">
                            <span class="format-ball top-[calc(50%-22px)] left-[calc(25%-12px)] pop-text">20</span>
                            <span class="format-ball format-ball-blue top-[calc(50%-22px)] right-[calc(25%-12px)] pop-text">20</span>
                        </span>
                        <span class="pop-text w-full h-full py-3 px-2 flex flex-col items-center justify-around">
                            <span class="inline-block title-h3 white-text pt-0 pb-3 px-2">
                                <img class="mb-2 w-full h-auto" src="{{ asset('images/aeonshift-logo-transparent.png') }}" alt="AeonShift Logo, transparent">
                                {{ 'mtg.popular.quadruples.eternal.eternal.label'|trans }}
                            </span>
                            <span class="inline-flex w-full green-text pt-4 pb-2 px-4 text-lg flex-1 flex-col items-center justify-around">
                                <span>{{ 'mtg.popular.quadruples.eternal.eternal.subtitle'|trans|raw }}</span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="format-card coming-soon">
                    <a {# href="#calculator" #} title="{{ 'mtg.popular.singleton.eternal.freeform.title'|trans }}" {# data-format-switch="aeonshift-eternal-freeform" #} data-turbo="false">
                        <span class="inline-block relative format-image-container">
                            <img class="format-bg" src="{{ asset('images/freeform.jpg') }}" alt="MTG background, Fraternal Exaltation">
                            <span class="format-ball format-ball-gray top-[calc(50%-22px)] left-[calc(50%-22px)] pop-text">?</span>
                        </span>
                        <span class="pop-text w-full h-full py-3 px-2 flex flex-col items-center justify-around">
                            <span class="inline-block title-h3 white-text pt-0 pb-3 px-2">
                                <img class="mb-2 w-full h-auto" src="{{ asset('images/aeonshift-logo-transparent.png') }}" alt="AeonShift Logo, transparent">
                                {{ 'mtg.popular.singleton.eternal.freeform.label'|trans }}
                            </span>
                            <span class="inline-flex w-full green-text pt-4 pb-2 px-4 text-lg flex-1 flex-col items-center justify-around">
                                <span>{{ 'mtg.popular.singleton.eternal.freeform.subtitle'|trans|raw }}</span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>

            <hr class="w-1/2">

            <h3 class="w-full mt-6 mb-8">{{ 'mtg.popular.modern.title'|trans|raw }}</h3>

            <div class="grid grid-cols-[repeat(auto-fit,minmax(340px,1fr))] max-w-3xl lg:max-w-5xl xl:max-w-7xl gap-12 mb-10">
                <div class="format-card coming-soon">
                    <a {# href="#calculator" #} title="{{ 'mtg.popular.singleton.modern.duelcommander.title'|trans }}" {# data-format-switch="aeonshift-modern-duel-commander" #} data-turbo="false">
                        <span class="inline-block relative format-image-container">
                            <img class="format-bg" src="{{ asset('images/modern-duel.jpg') }}" alt="MTG background, Prismatic Vista">
                            <span class="format-ball top-[calc(50%-22px)] left-[calc(25%-12px)] pop-text">20</span>
                            <span class="format-ball format-ball-blue top-[calc(50%-22px)] right-[calc(25%-12px)] pop-text">20</span>
                        </span>
                        <span class="pop-text w-full h-full py-3 px-2 flex flex-col items-center justify-around">
                            <span class="inline-block title-h3 white-text pt-0 pb-3 px-2">
                                <img class="mb-2 w-full h-auto" src="{{ asset('images/aeonshift-logo-transparent.png') }}" alt="AeonShift Logo, transparent">
                                {{ 'mtg.popular.singleton.modern.duelcommander.label'|trans }}
                            </span>
                            <span class="inline-flex w-full green-text pt-4 pb-2 px-4 text-lg flex-1 flex-col items-center justify-around">
                                <span>{{ 'mtg.popular.singleton.modern.duelcommander.subtitle'|trans|raw }}</span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="format-card coming-soon">
                    <a {# href="#calculator" #} title="{{ 'mtg.popular.singleton.modern.commander.title'|trans }}" {# data-format-switch="aeonshift-commander" #} data-turbo="false">
                        <span class="inline-block relative format-image-container">
                            <img class="format-bg" src="{{ asset('images/modern-commander.jpg') }}" alt="MTG background, Arcane Signet">
                            <span class="format-ball top-[calc(25%-22px)] left-[calc(25%-12px)] pop-text">40</span>
                            <span class="format-ball format-ball-blue top-[calc(25%-22px)] right-[calc(25%-12px)] pop-text">40</span>
                            <span class="format-ball format-ball-red bottom-[calc(25%-22px)] left-[calc(25%-12px)] pop-text">40</span>
                            <span class="format-ball format-ball-green bottom-[calc(25%-22px)] right-[calc(25%-12px)] pop-text">40</span>
                        </span>
                        <span class="pop-text w-full h-full py-3 px-2 flex flex-col items-center justify-around">
                            <span class="inline-block title-h3 white-text pt-0 pb-3 px-2">
                                <img class="mb-2 w-full h-auto" src="{{ asset('images/aeonshift-logo-transparent.png') }}" alt="AeonShift Logo, transparent">
                                {{ 'mtg.popular.singleton.modern.commander.label'|trans }}
                            </span>
                            <span class="inline-flex w-full green-text pt-4 pb-2 px-4 text-lg flex-1 flex-col items-center justify-around">
                                <span>{{ 'mtg.popular.singleton.modern.commander.subtitle'|trans|raw }}</span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="format-card coming-soon">
                    <a {# href="#calculator" #} title="{{ 'mtg.popular.singleton.modern.highlander.title'|trans }}" {# data-format-switch="aeonshift-modern-highlander" #} data-turbo="false">
                        <span class="inline-block relative format-image-container">
                            <img class="format-bg" src="{{ asset('images/modern-highlander.jpg') }}" alt="MTG background, Mental Misstep">
                            <span class="format-ball top-[calc(50%-22px)] left-[calc(25%-12px)] pop-text">20</span>
                            <span class="format-ball format-ball-blue top-[calc(50%-22px)] right-[calc(25%-12px)] pop-text">20</span>
                        </span>
                        <span class="pop-text w-full h-full py-3 px-2 flex flex-col items-center justify-around">
                            <span class="inline-block title-h3 white-text pt-0 pb-3 px-2">
                                <img class="mb-2 w-full h-auto" src="{{ asset('images/aeonshift-logo-transparent.png') }}" alt="AeonShift Logo, transparent">
                                {{ 'mtg.popular.singleton.modern.highlander.label'|trans }}
                            </span>
                            <span class="inline-flex w-full green-text pt-4 pb-2 px-4 text-lg flex-1 flex-col items-center justify-around">
                                <span>{{ 'mtg.popular.singleton.modern.highlander.subtitle'|trans|raw }}</span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="format-card coming-soon">
                    <a {# href="#calculator" #} title="{{ 'mtg.popular.quadruples.modern.modern.title'|trans }}" {# data-format-switch="aeonshift-modern" #} data-turbo="false">
                        <span class="inline-block relative format-image-container">
                            <img class="format-bg" src="{{ asset('images/modern.jpg') }}" alt="MTG background, Nadu, Winged Wisdom">
                            <span class="format-ball top-[calc(50%-22px)] left-[calc(25%-12px)] pop-text">20</span>
                            <span class="format-ball format-ball-blue top-[calc(50%-22px)] right-[calc(25%-12px)] pop-text">20</span>
                        </span>
                        <span class="pop-text w-full h-full py-3 px-2 flex flex-col items-center justify-around">
                            <span class="inline-block title-h3 white-text pt-0 pb-3 px-2">
                                <img class="mb-2 w-full h-auto" src="{{ asset('images/aeonshift-logo-transparent.png') }}" alt="AeonShift Logo, transparent">
                                {{ 'mtg.popular.quadruples.modern.modern.label'|trans }}
                            </span>
                            <span class="inline-flex w-full green-text pt-4 pb-2 px-4 text-lg flex-1 flex-col items-center justify-around">
                                <span>{{ 'mtg.popular.quadruples.modern.modern.subtitle'|trans|raw }}</span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="format-card coming-soon">
                    <a {# href="#calculator" #} title="{{ 'mtg.popular.singleton.modern.freeform.title'|trans }}" {# data-format-switch="aeonshift-modern-freeform" #} data-turbo="false">
                        <span class="inline-block relative format-image-container">
                            <img class="format-bg" src="{{ asset('images/modern-freeform.jpg') }}" alt="MTG background, Treasure Cruise">
                            <span class="format-ball format-ball-gray top-[calc(50%-22px)] left-[calc(50%-22px)] pop-text">?</span>
                        </span>
                        <span class="pop-text w-full h-full py-3 px-2 flex flex-col items-center justify-around">
                            <span class="inline-block title-h3 white-text pt-0 pb-3 px-2">
                                <img class="mb-2 w-full h-auto" src="{{ asset('images/aeonshift-logo-transparent.png') }}" alt="AeonShift Logo, transparent">
                                {{ 'mtg.popular.singleton.modern.freeform.label'|trans }}
                            </span>
                            <span class="inline-flex w-full green-text pt-4 pb-2 px-4 text-lg flex-1 flex-col items-center justify-around">
                                <span>{{ 'mtg.popular.singleton.modern.freeform.subtitle'|trans|raw }}</span>
                            </span>
                        </span>
                    </a>
                </div>
                {#
                <div class="format-card coming-soon">
                    <a title="{{ 'mtg.popular.singleton.modern.2hg.title'|trans }}" data-format-switch="aeonshift-modern-2hg">
                        <span class="inline-block relative format-image-container">
                            <img class="format-bg" src="{{ asset('images/modern-2hg.jpg') }}" alt="MTG background, Atarka's Command">
                            <span class="format-ball top-[calc(50%-49px)] left-[calc(25%-12px)] pop-text">3</span>
                            <span class="format-ball top-[calc(50%+13px)] left-[calc(25%-12px)] pop-text">0</span>
                            <span class="format-ball format-ball-blue top-[calc(50%-49px)] right-[calc(25%-12px)] pop-text">3</span>
                            <span class="format-ball format-ball-blue top-[calc(50%+13px)] right-[calc(25%-12px)] pop-text">0</span>
                        </span>
                        <span class="pop-text w-full h-full py-3 px-2 flex flex-col items-center justify-around">
                            <span class="inline-block title-h3 white-text pt-0 pb-3 px-2">
                                <img class="mb-2 w-full h-auto" src="{{ asset('images/aeonshift-logo-transparent.png') }}" alt="AeonShift Logo, transparent">
                                {{ 'mtg.popular.singleton.modern.2hg.label'|trans }}
                            </span>
                            <span class="inline-flex w-full green-text pt-4 pb-2 px-4 text-lg flex-1 flex-col items-center justify-around">
                                <span>{{ 'mtg.popular.singleton.modern.2hg.subtitle'|trans|raw }}</span>
                            </span>
                        </span>
                    </a>
                </div>
                #}
            </div>

            <hr class="w-1/2">

            <h3 class="w-full mt-6 mb-8">{{ 'mtg.popular.pioneer.title'|trans|raw }}</h3>

            <p class="text-xl">{{ 'mtg.popular.comingsoon.text'|trans|raw }}</p>

            <hr class="w-1/2">

            <h3 class="w-full mt-6 mb-8">{{ 'mtg.popular.standard.title'|trans|raw }}</h3>

            <p class="text-xl">{{ 'mtg.popular.comingsoon.text'|trans|raw }}</p>

        </div>
    </div>
</div>
