{% extends 'front/front_layout.html.twig' %}

{% block title %}{{ 'front.nav.home.label'|trans }}{% endblock %}

{% block body_attributes %}data-no-stimulus{% endblock %}

{% block custom_js %}
    <script>
        (function () {
            const id = 'page-js-loader';
            if (document.getElementById(id)) return;

            const el = document.createElement('div');
            el.id = id;
            el.setAttribute('aria-hidden', 'true');
            el.innerHTML = '<img src="{{ asset('images/loader.gif') }}" alt="Loading">';

            const append = () => {
                if (document.body) {
                    document.body.appendChild(el);
                } else {
                    document.documentElement.appendChild(el);
                }
            };

            append();
        })();

        document.addEventListener('DOMContentLoaded', () => {
            const hidePageJsLoader = () => {
                const el = document.getElementById('page-js-loader');
                if (el) el.remove();
            };

            hidePageJsLoader();
        });

    </script>
{% endblock %}

{% block link_canonical %}
    <link rel="canonical" href="{{ url('front_mtg_points_index') }}">
{% endblock %}

{% block top_spacer %}{% endblock %}

{% block beforemenu %}
    <div class="top-video-overflow-container min-h-screen">
        <div class="top-video-height-container min-h-[1300px]">
            <video class="hidden lg:block" controlslist="nodownload, nofullscreen, noremoteplayback" disablepictureinpicture="" autoplay="" muted="" loop="loop">
                <source src="{{ asset('videos/numbers.mp4') }}" type="video/mp4">
            </video>
        </div>
    </div>
{% endblock %}

{% block main_layout %}
    <div class="main-row theme1 unique-row justify-center transparent-row lg:min-h-screen">
        <div class="main-column main-content h-full w-full">
            {% block main_content %}
                {% block body %}
                    <div class="w-full text-center flex flex-col justify-center items-center">
                        <img class="max-w-full lg:max-w-6xl color-cycle mb-8" src="{{ asset('images/aeonshift-logo-transparent.png') }}" alt="AeonShift Logo">
                        <div class="w-full format-incentive flex flex-col justify-around items-center p-px mb-4">
                            <div class="gradient-cycle">
                                <img class="game-choice-image w-full" src="{{ asset('images/mtg-banner.jpg') }}" alt="Magic The Gathering cards: Black Lotus, Channel, Jeweled Lotus, The One Ring, Shahrazad">
                            </div>
                            <p class="inline-block w-full text-4xl mt-10 mb-6">{{ 'front.mtg.choose.text'|trans|raw }}</p>
                            <div class="mb-12">
                                {{ include('front/_share_links.html.twig') }}
                            </div>
                            <div class="flex flex-col lg:flex-row w-full justify-around items-center">
                                <div class="flex flex-col justify-center items-center px-6">
                                    <a class="btn btn-star btn-green btn-big m-2" href="#formats" title="{{ 'front.mtg.choose.links.choose.title'|trans|striptags }}" data-turbo="false">
                                        <span class="top-left"></span>
                                        <span class="top-right"></span>
                                        <span class="title">
                                            <span class="icon-target"></span>
                                            {{ 'front.mtg.choose.links.choose.text'|trans }}
                                        </span>
                                        <span class="bottom-left"></span>
                                        <span class="bottom-right"></span>
                                    </a>
                                    <p class="format-help">{{ 'front.mtg.choose.links.choose.title'|trans|raw }}</p>
                                </div>
                                <div class="flex flex-col justify-center items-center px-6">
                                    <a class="btn btn-star btn-gray btn-big m-2" href="#calculator" title="{{ 'front.mtg.choose.links.gotoform.title'|trans|striptags }}" data-turbo="false">
                                        <span class="top-left"></span>
                                        <span class="top-right"></span>
                                        <span class="title">
                                            <span class="icon-chart-bar"></span>
                                            {{ 'front.mtg.choose.links.gotoform.text'|trans }}
                                        </span>
                                        <span class="bottom-left"></span>
                                        <span class="bottom-right"></span>
                                    </a>
                                    <p class="format-help">{{ 'front.mtg.choose.links.gotoform.title'|trans|raw }}</p>
                                </div>
                                <div class="flex flex-col justify-center items-center px-6">
                                    <a class="btn btn-star btn-blue btn-big m-2" href="#quiz" title="{{ 'front.mtg.choose.links.quiz.title'|trans|striptags }}" data-turbo="false">
                                        <span class="top-left"></span>
                                        <span class="top-right"></span>
                                        <span class="title">
                                            <span class="icon-question"></span>
                                            {{ 'front.mtg.choose.links.quiz.text'|trans }}
                                        </span>
                                        <span class="bottom-left"></span>
                                        <span class="bottom-right"></span>
                                    </a>
                                    <p class="format-help">{{ 'front.mtg.choose.links.quiz.title'|trans|raw }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            {% endblock %}
        </div>
    </div>

    {# Format choice cards #}
    {{ include('front/mtg/points/_format_choice_cards.html.twig') }}

    {# Format choice quiz #}
    {{ include('front/mtg/points/_format_choice_quiz.html.twig') }}

    {# Calculator form #}
    {{ include('front/mtg/points/_calculator_form.html.twig') }}

    {# Choose a Commander form #}
    {{ include('front/mtg/points/_choose_commander.html.twig') }}

{% endblock %}

{% block endbody %}
    <script>{{ include('front/mtg/points/_vanilla_tilt.js.twig') }}</script>
    {# Inline the calculator JavaScript #}
    <script>{{ include('front/mtg/points/_pointslists.js.twig') }}</script>
    <script async>{{ include('front/mtg/points/_calculator_js.js.twig') }}</script>
{% endblock %}
