<form method="post" action="{{ url('admin_mtg_update_delete', {'id': update.id}) }}" onsubmit="return confirm('{{ 'global.delete.confirmprompt'|trans }}');">
    <div class="w-full text-center">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ update.id) }}">
        <button data-turbo="false" class="btn btn-red " title="{{ 'global.deletebutton.title'|trans }}">{{ 'global.deletebutton.label'|trans }}</button>
    </div>
</form>
