{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ 'admin.nav.mtg.update.show.label'|trans({'name': update.titleEN}) }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.nav.mtg.update.show.label'|trans({'name': update.titleEN}) }}</h1>

    <div class="flex flex-col gap-2 lg:flex-row lg:gap-4 w-full lg:justify-center my-2">
        <a class="btn btn-gray" href="{{ url('admin_mtg_update_index') }}" title="{{ 'global.indexbutton.title'|trans }}">{{ 'global.indexbutton.label'|trans }}</a>
        <a class="btn btn-green" href="{{ url('admin_mtg_update_edit', {'id': update.id}) }}" title="{{ 'global.editbutton.title'|trans }}">{{ 'global.editbutton.label'|trans }}</a>

        <div>
            {{ include('admin/mtg/update/_delete_form.html.twig') }}
        </div>
    </div>

    <div class="table-wrapper">
        <table class="table center header-highlight-table">
            <tbody>
                <tr>
                    <th class="w-1/4">{{ 'global.id.label'|trans }}</th>
                    <td>{{ update.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.update.create.titleen.label'|trans }}</th>
                    <td>{{ update.titleEN }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.update.create.relatedpointslist.label'|trans }}</th>
                    <td>
                        {% if update.pointsList is not null %}
                            <a href="{{ url('admin_mtg_points_list_show', {'id': update.pointsList.id}) }}" title="{{ 'admin.nav.mtg.pointslist.show.title'|trans({'name': update.pointsList.title}) }}">{{ update.pointsList.title }}</a>
                        {% else %}
                            {{ 'global.none.label'|trans }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.update.create.descriptionen.label'|trans }}</th>
                    <td>{{ update.descriptionEN|raw }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.update.create.start.label'|trans }}</th>
                    <td>{{ update.startingAt|date('Y-m-d H:i') }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.update.create.end.label'|trans }}</th>
                    <td>{{ update.endingAt|date('Y-m-d H:i') }}</td>
                </tr>
                <tr>
                    <th>{{ 'global.dates.label'|trans }}</th>
                    <td>
                        {{ update.createdAt ? update.createdAt|date('Y-m-d') : '' }} / {{ update.updatedAt ? update.updatedAt|date('Y-m-d') : '' }}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'global.users.label'|trans }}</th>
                    <td>
                        {{ update.createdBy ? update.createdBy.username|raw : 'N/A' }} / {{ update.updatedBy ? update.updatedBy.username|raw : 'N/A' }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="flex flex-col gap-2 lg:flex-row lg:gap-4 w-full lg:justify-center my-2">
        <a class="btn btn-gray" href="{{ url('admin_mtg_update_index') }}" title="{{ 'global.indexbutton.title'|trans }}">{{ 'global.indexbutton.label'|trans }}</a>
        <a class="btn btn-green" href="{{ url('admin_mtg_update_edit', {'id': update.id}) }}" title="{{ 'global.editbutton.title'|trans }}">{{ 'global.editbutton.label'|trans }}</a>

        <div>
            {{ include('admin/mtg/update/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
