{% if points_list is defined and points_list.MTGUpdates|length == 0 %}
    <form method="post" action="{{ url('admin_mtg_points_list_delete', {'id': points_list.id}) }}" onsubmit="return confirm('{{ 'global.delete.confirmprompt'|trans }}');">
        <div class="w-full text-center">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ points_list.id) }}">
            <button data-turbo="false" class="btn btn-red " title="{{ 'global.deletebutton.title'|trans }}">{{ 'global.deletebutton.label'|trans }}</button>
        </div>
    </form>
{% endif %}
