{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ 'admin.nav.mtg.pointslist.edit.title'|trans({'%name%': points_list.title}) }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.nav.mtg.pointslist.edit.title'|trans({'%name%': points_list.title}) }}</h1>

    <div class="flex flex-col gap-2 lg:flex-row lg:gap-4 w-full lg:justify-center my-2">
        <a class="btn btn-gray inline-block" href="{{ url('admin_mtg_points_list_index') }}" title="{{ 'global.indexbutton.title'|trans }}">{{ 'global.indexbutton.label'|trans }}</a>
        <a class="btn btn-gray" href="{{ url('admin_mtg_points_list_show', {'id': points_list.id}) }}" title="{{ 'global.showbutton.title'|trans }}">{{ 'global.showbutton.label'|trans }}</a>

        <div>
            {{ include('admin/mtg/points_list/_delete_form.html.twig') }}
        </div>
    </div>

    {{ include('admin/page/_form.html.twig', {'button_label': 'global.savebutton.label'|trans}) }}

    <div class="flex flex-col gap-2 lg:flex-row lg:gap-4 w-full lg:justify-center my-2">
        <a class="btn btn-gray inline-block" href="{{ url('admin_mtg_points_list_index') }}" title="{{ 'global.indexbutton.title'|trans }}">{{ 'global.indexbutton.label'|trans }}</a>
        <a class="btn btn-gray" href="{{ url('admin_mtg_points_list_show', {'id': points_list.id}) }}" title="{{ 'global.showbutton.title'|trans }}">{{ 'global.showbutton.label'|trans }}</a>

        <div>
            {{ include('admin/mtg/points_list/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
