{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ 'admin.nav.mtg.pointslist.import.title'|trans({'name': points_list.title}) }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.nav.mtg.pointslist.import.title'|trans({'name': points_list.title}) }}</h1>

    <div class="flex flex-col gap-2 lg:flex-row lg:gap-4 w-full lg:justify-center my-2">
        <a class="btn btn-gray" href="{{ url('admin_mtg_points_list_index') }}" title="{{ 'global.indexbutton.title'|trans }}">{{ 'global.indexbutton.label'|trans }}</a>
        <a class="btn btn-blue" href="{{ url('admin_mtg_points_list_export', {'id': points_list.id}) }}" title="{{ 'global.export.title'|trans }}">{{ 'global.export.label'|trans }}</a>
        <a class="btn btn-green" href="{{ url('admin_mtg_points_list_edit', {'id': points_list.id}) }}" title="{{ 'global.editbutton.title'|trans }}">{{ 'global.editbutton.label'|trans }}</a>
    </div>

    <div class="my-2"></div>

    <fieldset class="w-full mb-4">
        <legend>
            <span class="icon-info"></span>{{ 'admin.form.mtg.pointslist.import.info'|trans }}
        </legend>

        <p class="flash-message flash-warning">
            {{ 'admin.form.mtg.pointslist.import.help'|trans|raw }}
        </p>
        <p class="flash-message flash-warning">
            {{ 'admin.form.mtg.pointslist.import.help2'|trans|raw }}
        </p>
        <p class="flash-message flash-info">
            {{ 'admin.form.mtg.pointslist.import.help3'|trans|raw }}
        </p>
        <p class="flash-message flash-info">
            {{ 'admin.form.mtg.pointslist.import.help4'|trans|raw }}
        </p>
        <p class="flash-message flash-warning">
            {{ 'admin.form.mtg.pointslist.import.help5'|trans|raw }}
        </p>
        <p class="flash-message flash-info">
            {{ 'admin.form.mtg.pointslist.import.help6'|trans|raw }}
        </p>
        <p class="flash-message flash-info">
            {{ 'admin.form.mtg.pointslist.import.help7'|trans|raw }}
        </p>

        <p>
            {{ 'admin.form.mtg.pointslist.import.help8'|trans|raw }}
        </p>
        <table class="border-spacing-2 table-fixed border border-gray-400 border-solid example-table">
            <tbody>
                <tr>
                    <td><em>⚠️ The first 5 Lines of this document will be ignored while importing, use them for metadata</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(these columns, and all on the right are ignored while importing)</em></td>
                </tr>
                <tr>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(these columns, and all on the right are ignored while importing)</em></td>
                </tr>
                <tr>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(these columns, and all on the right are ignored while importing)</em></td>
                </tr>
                <tr>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(ignored)</em></td>
                    <td><em>(these columns, and all on the right are ignored while importing)</em></td>
                </tr>
                <tr>
                    <td>
                        <em>&darr; {{ 'admin.form.mtg.pointslistcard.create.nameen.label'|trans }} &darr;</em>
                        <em>{{ 'admin.form.mtg.pointslistcard.create.firstline.label'|trans|raw }}</em>
                    </td>
                    <td><em>&darr; {{ 'admin.form.mtg.pointslistcard.create.pointsduelcommander.label'|trans }} &darr;</em></td>
                    <td><em>&darr; {{ 'admin.form.mtg.pointslistcard.create.pointsduelcommanderspecial.label'|trans }} &darr;</em></td>
                    <td><em>&darr; {{ 'admin.form.mtg.pointslistcard.create.points2hg.label'|trans }} &darr;</em></td>
                    <td><em>&darr; {{ 'admin.form.mtg.pointslistcard.create.points2hgspecial.label'|trans }} &darr;</em></td>
                    <td><em>&darr; {{ 'admin.form.mtg.pointslistcard.create.pointscommander.label'|trans }} &darr;</em></td>
                    <td><em>&darr; {{ 'admin.form.mtg.pointslistcard.create.pointscommanderspecial.label'|trans }} &darr;</em></td>
                    <td><em>(these columns, and all on the right are ignored while importing)</em></td>
                </tr>
                <tr>
                    <td class="text-yellow-200">((unranked))</td>
                    <td class="text-yellow-200">10</td>
                    <td class="text-yellow-200">40</td>
                    <td class="text-yellow-200">10</td>
                    <td class="text-yellow-200">40</td>
                    <td class="text-yellow-200">10</td>
                    <td class="text-yellow-200">30</td>
                    <td class="text-yellow-200"><em>(these columns, and all on the right are ignored while importing)</em></td>
                </tr>
                <tr>
                    <td>Academy Rector</td>
                    <td>10</td>
                    <td>0</td>
                    <td>10</td>
                    <td>0</td>
                    <td>10</td>
                    <td>0</td>
                    <td><em>(these columns, and all on the right are ignored while importing)</em></td>
                </tr>
                <tr>
                    <td>Ardenn, Intrepid Archaeologist</td>
                    <td>8</td>
                    <td>30</td>
                    <td>10</td>
                    <td>40</td>
                    <td>5</td>
                    <td>9</td>
                    <td><em>(these columns, and all on the right are ignored while importing)</em></td>
                </tr>
                <tr>
                    <td class="text-center" colspan="8">...</td>
                </tr>
            </tbody>
        </table>

        <br>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="text-right">
            <button data-turbo="false" class="btn btn-blue" title="{{ 'global.import.title'|trans }}">{{ button_label|default('global.import.label'|trans) }}</button>
        </div>
        {{ form_end(form) }}
    </fieldset>

    <div class="flex flex-col gap-2 lg:flex-row lg:gap-4 w-full lg:justify-center my-2">
        <a class="btn btn-gray" href="{{ url('admin_mtg_points_list_index') }}" title="{{ 'global.indexbutton.title'|trans }}">{{ 'global.indexbutton.label'|trans }}</a>
        <a class="btn btn-blue" href="{{ url('admin_mtg_points_list_export', {'id': points_list.id}) }}" title="{{ 'global.export.title'|trans }}">{{ 'global.export.label'|trans }}</a>
        <a class="btn btn-green" href="{{ url('admin_mtg_points_list_edit', {'id': points_list.id}) }}" title="{{ 'global.editbutton.title'|trans }}">{{ 'global.editbutton.label'|trans }}</a>
    </div>

    <div class="table-wrapper pt-4">
        <table class="table center header-highlight-table">
            <caption>
                {{ 'admin.form.mtg.pointslist.create.currentnbcards.label'|trans }} - {{ points_list.MTGPointListCards|length }}
            </caption>
            <thead>
                <tr>
                    <th class="table-id-column">{{ 'global.id.label'|trans }}</th>
                    <th>{{ 'admin.form.mtg.pointslistcard.create.nameen.label'|trans }}</th>
                    <th>{{ 'admin.form.mtg.pointslistcard.create.pointsduelcommander.label'|trans }}</th>
                    <th>{{ 'admin.form.mtg.pointslistcard.create.pointsduelcommanderspecial.label'|trans }}</th>
                    <th>{{ 'admin.form.mtg.pointslistcard.create.points2hg.label'|trans }}</th>
                    <th>{{ 'admin.form.mtg.pointslistcard.create.points2hgspecial.label'|trans }}</th>
                    <th>{{ 'admin.form.mtg.pointslistcard.create.pointscommander.label'|trans }}</th>
                    <th>{{ 'admin.form.mtg.pointslistcard.create.pointscommanderspecial.label'|trans }}</th>
                    <th>{{ 'global.dates.label'|trans }}</th>
                    <th>{{ 'global.users.label'|trans }}</th>
                    <th class="actions-column">{{ 'global.actions.label'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for points_list_card in points_list.MTGPointListCards %}
                    <tr>
                        <td>{{ points_list_card.id }}</td>
                        <td>
                            {% if points_list_card.nameEn|lower is not same as('((unranked))'|lower) %}
                                <a href="https://scryfall.com/search?q={{ points_list_card.nameEn|e('url') }}" target="_blank">
                                    <span class="icon-search"></span>
                                    {{ points_list_card.nameEn }}
                                </a>
                            {% else %}
                                {{ points_list_card.nameEn }}
                            {% endif %}
                        </td>
                        <td><span class="text-blue-300">{% if points_list_card.pointsDuelCommander > 0 %}<strong>{% endif %}{{ points_list_card.pointsDuelCommander }}{% if points_list_card.pointsDuelCommander > 0 %}</strong>{% endif %}</span></td>
                        <td><span class="text-blue-300">{% if points_list_card.pointsDuelCommanderSpecial > 0 %}<strong>{% endif %}{{ points_list_card.pointsDuelCommanderSpecial }}{% if points_list_card.pointsDuelCommanderSpecial > 0 %}</strong>{% endif %}</span></td>
                        <td><span class="text-orange-300">{% if points_list_card.points2hg > 0 %}<strong>{% endif %}{{ points_list_card.points2hg }}{% if points_list_card.points2hg > 0 %}</strong>{% endif %}</span></td>
                        <td><span class="text-orange-300">{% if points_list_card.points2hgSpecial > 0 %}<strong>{% endif %}{{ points_list_card.points2hgSpecial }}{% if points_list_card.points2hgSpecial > 0 %}</strong>{% endif %}</span></td>
                        <td><span class="text-amber-300">{% if points_list_card.pointsCommander > 0 %}<strong>{% endif %}{{ points_list_card.pointsCommander }}{% if points_list_card.pointsCommander > 0 %}</strong>{% endif %}</span></td>
                        <td><span class="text-amber-300">{% if points_list_card.pointsCommanderSpecial > 0 %}<strong>{% endif %}{{ points_list_card.pointsCommanderSpecial }}{% if points_list_card.pointsCommanderSpecial > 0 %}</strong>{% endif %}</span></td>
                        <td>
                            {{ points_list_card.createdAt ? points_list_card.createdAt|date('Y-m-d') : '' }} / {{ points_list_card.updatedAt ? points_list_card.updatedAt|date('Y-m-d') : '' }}
                        </td>
                        <td>
                            {{ points_list_card.createdBy ? points_list_card.createdBy.username|raw : 'N/A' }} / {{ points_list_card.updatedBy ? points_list_card.updatedBy.username|raw : 'N/A' }}
                        </td>
                        <td>
                            <a class="btn btn-green w-full" href="{{ url('admin_mtg_points_list_card_edit', {'id': points_list_card.id}) }}" title="{{ 'global.editbutton.title'|trans }}">{{ 'global.editbutton.label'|trans }}</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" class="text-center">{{ 'global.noelements.label'|trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
