{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ 'admin.nav.mtg.pointslist.index.label'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.nav.mtg.pointslist.index.label'|trans }}</h1>

    <h3 class="text-center w-full">
        {{ 'global.total.label'|trans({'%elements%': points_lists.totalItemCount})|raw }}
        {% if points_lists.totalItemCount / points_lists.itemNumberPerPage > 1 %} - {{ 'global.pagenumber'|trans({'current': points_lists.currentPageNumber, 'total': (points_lists.totalItemCount / points_lists.itemNumberPerPage)|round(0, 'ceil')})|raw }}{% endif %}
    </h3>

    <a class="btn btn-green" href="{{ url('admin_mtg_points_list_new') }}" title="{{ 'global.createbutton.title'|trans }}">{{ 'global.createbutton.label'|trans }}</a>

    <div class="navigation">
        {{ knp_pagination_render(points_lists) }}
    </div>

    <div class="table-wrapper">
        <table class="table center header-highlight-table">
            <thead>
                <tr>
                    <th class="table-id-column">{{ 'global.id.label'|trans }}</th>
                    <th>{{ 'admin.form.mtg.pointslist.create.title.label'|trans }}</th>
                    <th>{{ 'admin.form.mtg.pointslist.create.rulesmodel.label'|trans }}</th>
                    <th>{{ 'admin.form.mtg.pointslist.create.validitystartingat.label'|trans }}</th>
                    <th>{{ 'admin.form.mtg.pointslist.create.relatedupdates.label'|trans }}</th>
                    <th>{{ 'admin.form.mtg.pointslist.create.filename.label'|trans }}</th>
                    <th>{{ 'admin.form.mtg.pointslist.create.lastuploadedat.label'|trans }}</th>
                    <th>{{ 'admin.form.mtg.pointslist.create.uploadnbcards.label'|trans }}</th>
                    <th>{{ 'global.dates.label'|trans }}</th>
                    <th>{{ 'global.users.label'|trans }}</th>
                    <th class="actions-column">{{ 'global.actions.label'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for points_list in points_lists %}
                    <tr>
                        <td>{{ points_list.id }}</td>
                        <td><strong>{{ points_list.title }}</strong></td>
                        <td>{{ points_list.rulesModel }}</td>
                        <td>{{ points_list.validityStartingAt|date('Y-m-d H:i') }}</td>
                        <td>
                            {% for mtg_update in points_list.MTGUpdates %}
                                <a href="{{ url('admin_mtg_update_show', {'id': mtg_update.id}) }}" title="{{ 'admin.nav.mtg.update.show.title'|trans({'name': mtg_update.titleEn}) }}">{{ mtg_update.titleEn }}</a>
                                {% if not loop.last %}<br>{% endif %}
                            {% else %}
                                {{ 'global.none.label'|trans }}
                            {% endfor %}
                        </td>
                        <td>{{ points_list.filename }}</td>
                        <td>{{ points_list.lastUploadedAt|date('Y-m-d H:i') }}</td>
                        <td>{{ points_list.numberOfUploadedCards }}</td>
                        <td>
                            {{ points_list.createdAt ? points_list.createdAt|date('Y-m-d') : '' }} / {{ points_list.updatedAt ? points_list.updatedAt|date('Y-m-d') : '' }}
                        </td>
                        <td>
                            {{ points_list.createdBy ? points_list.createdBy.username|raw : 'N/A' }} / {{ points_list.updatedBy ? points_list.updatedBy.username|raw : 'N/A' }}
                        </td>
                        <td>
                            <a class="btn btn-gray w-full" href="{{ url('admin_mtg_points_list_show', {'id': points_list.id}) }}" title="{{ 'global.showbutton.title'|trans }}">{{ 'global.showbutton.label'|trans }}</a>
                            <a class="btn btn-blue w-full" href="{{ url('admin_mtg_points_list_import', {'id': points_list.id}) }}" title="{{ 'global.import.title'|trans }}">{{ 'global.import.label'|trans }}</a>
                            <a class="btn btn-green w-full" href="{{ url('admin_mtg_points_list_edit', {'id': points_list.id}) }}" title="{{ 'global.editbutton.title'|trans }}">{{ 'global.editbutton.label'|trans }}</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11" class="text-center">{{ 'global.noelements.label'|trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(points_lists) }}
    </div>

    <a class="btn btn-green" href="{{ url('admin_mtg_points_list_new') }}" title="{{ 'global.createbutton.title'|trans }}">{{ 'global.createbutton.label'|trans }}</a>
{% endblock %}
