{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ 'admin.nav.mtg.pointslist.show.label'|trans({'name': points_list.title}) }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.nav.mtg.pointslist.show.label'|trans({'name': points_list.title}) }}</h1>

    <div class="flex flex-col gap-2 lg:flex-row lg:gap-4 w-full lg:justify-center my-2">
        <a class="btn btn-gray" href="{{ url('admin_mtg_points_list_index') }}" title="{{ 'global.indexbutton.title'|trans }}">{{ 'global.indexbutton.label'|trans }}</a>
        <a class="btn btn-green" href="{{ url('admin_mtg_points_list_edit', {'id': points_list.id}) }}" title="{{ 'global.editbutton.title'|trans }}">{{ 'global.editbutton.label'|trans }}</a>

        <div>
            {{ include('admin/mtg/points_list/_delete_form.html.twig') }}
        </div>
    </div>

    <div class="table-wrapper">
        <table class="table center header-highlight-table">
            <tbody>
                <tr>
                    <th class="w-1/4">{{ 'global.id.label'|trans }}</th>
                    <td>{{ points_list.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.points_list.create.title.label'|trans }}</th>
                    <td>{{ points_list.title }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.points_list.create.relatedupdates.label'|trans }}</th>
                    <td>
                        {% for mtg_update in points_list.MTGUpdates %}
                            <a href="{{ url('admin_mtg_update_show', {'id': mtg_update.id}) }}" title="{{ 'admin.nav.mtg.update.show.title'|trans({'name': mtg_update.title}) }}">{{ mtg_update.title }}</a>
                            {% if not loop.last %}<br>{% endif %}
                        {% else %}
                            {{ 'global.none.label'|trans }}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.points_list.create.filename.label'|trans }}</th>
                    <td>{{ points_list.filename }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.points_list.create.lastuploadedat.label'|trans }}</th>
                    <td>{{ points_list.lastUploadedAt|date('Y-m-d H:i') }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.points_list.create.uploadnbcards.label'|trans }}</th>
                    <td>{{ points_list.nbcards }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.points_list.create.currentnbcards.label'|trans }}</th>
                    <td>{{ points_list.MTGPointListCards|length }}</td>
                </tr>
                <tr>
                    <th>{{ 'global.dates.label'|trans }}</th>
                    <td>
                        {{ points_list.createdAt ? points_list.createdAt|date('Y-m-d') : '' }} / {{ points_list.updatedAt ? points_list.updatedAt|date('Y-m-d') : '' }}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'global.users.label'|trans }}</th>
                    <td>
                        {{ points_list.createdBy ? points_list.createdBy.username|raw : 'N/A' }} / {{ points_list.updatedBy ? points_list.updatedBy.username|raw : 'N/A' }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="flex flex-col gap-2 lg:flex-row lg:gap-4 w-full lg:justify-center my-2">
        <a class="btn btn-gray" href="{{ url('admin_mtg_points_list_index') }}" title="{{ 'global.indexbutton.title'|trans }}">{{ 'global.indexbutton.label'|trans }}</a>
        <a class="btn btn-green" href="{{ url('admin_mtg_points_list_edit', {'id': points_list.id}) }}" title="{{ 'global.editbutton.title'|trans }}">{{ 'global.editbutton.label'|trans }}</a>

        <div>
            {{ include('admin/mtg/points_list/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
