<nav class="w-full">
    <ul class="menu-{{ zone|default('header') }} justify-evenly items-stretch">
        <li class="first home-link">
            <a tabindex="0" href="{{ url('front_home') }}" title="{{ 'front.nav.home.title'|trans }}">{{ 'front.nav.home.label'|trans }}</a>
        </li>
        <li>
            <a tabindex="0" href="{{ url('front_mtg_points_index') }}" title="{{ 'front.nav.mtg.title'|trans }}">{{ 'front.nav.mtg.label'|trans }}</a>
        </li>
        <li>
            <a tabindex="0" href="https://play.aeonshift.games" title="{{ 'front.nav.learnmore.title'|trans }}" target="_blank">{{ 'front.nav.learnmore.label'|trans }}</a>
        </li>
        <li id="locales">
            {% if supported_locales is defined and supported_locales is iterable %}
                <a tabindex="0" title="{{ 'language.' ~ app.request.locale }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ ux_icon('flag:' ~ app.request.locale|replace({'en': 'gb'}) ~ '-4x3') }} {{ app.request.locale|locale_name(app.request.locale)|u.title }}</a>
                <ul class="" aria-labelledby="locales">
                    {% for supported_locale in supported_locales %}
                        <li>
                            <a tabindex="0" href="{{ url(app.request.attributes.get('_route', 'index'), app.request.attributes.get('_route_params', [])|merge({_locale: supported_locale})) }}">
                                {{ ux_icon('flag:' ~ supported_locale|replace({'en': 'gb'}) ~ '-4x3') }} {{ supported_locale|locale_name(supported_locale)|u.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    </ul>
</nav>
