<nav>
    <ul class="menu-{{ zone|default('header') }}">
        <li class="first home-link">
            <a href="{{ url('front_home') }}" title="{{ 'front.nav.home.title'|trans }}">{{ 'front.nav.home.label'|trans }}</a>
        </li>
        {% if global_pages is defined %}
            {% for global_page in global_pages %}
                <li>
                    <a href="{{ url('front_static_page', {id: global_page.id, slug: global_page.slug}) }}" title="{{ global_page.title|e('html_attr') }}">{{ global_page.title }}</a>
                </li>
            {% endfor %}
        {% endif %}
        <li>
            <a target="_blank" href="https://play.aeonshift.games/rules" title="{{ 'global.rules.title'|trans|e('html_attr') }}">{{ 'global.rules.label'|trans }}</a>
        </li>
        <li>
            <a target="_blank" href="https://play.aeonshift.games/legal" title="{{ 'global.legal.title'|trans|e('html_attr') }}">{{ 'global.legal.label'|trans }}</a>
        </li>
    </ul>
</nav>
