{% autoescape false %}
    <div class="sharer-bar">
        {% if escaped_default_mailto_text is not defined %}
            {% set escaped_default_mailto_text = (globals_website_name ~ ' - ' ~ globals_website_subtitle ~ ' >> ' ~ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))) %}
        {% endif %}

        {% if escaped_default_share_text is not defined %}
            {% set escaped_default_share_text = (globals_website_name ~ ' - ' ~ globals_website_subtitle ~ ' >> ' ~ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))) %}
        {% endif %}

        <a class="share-link cursor-pointer" title="{{ 'front.globals.share.link'|trans }}" aria-label="{{ 'front.globals.share.link'|trans }}" data-controller="copy-link" data-action="click->copy-link#copy" data-copy-link-url-value="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|escape }}">
            <span>
                <svg width="250" height="250" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.05025 1.53553C8.03344 0.552348 9.36692 0 10.7574 0C13.6528 0 16 2.34721 16 5.24264C16 6.63308 15.4477 7.96656 14.4645 8.94975L12.4142 11L11 9.58579L13.0503 7.53553C13.6584 6.92742 14 6.10264 14 5.24264C14 3.45178 12.5482 2 10.7574 2C9.89736 2 9.07258 2.34163 8.46447 2.94975L6.41421 5L5 3.58579L7.05025 1.53553Z" fill="currentColor"/>
                    <path d="M7.53553 13.0503L9.58579 11L11 12.4142L8.94975 14.4645C7.96656 15.4477 6.63308 16 5.24264 16C2.34721 16 0 13.6528 0 10.7574C0 9.36693 0.552347 8.03344 1.53553 7.05025L3.58579 5L5 6.41421L2.94975 8.46447C2.34163 9.07258 2 9.89736 2 10.7574C2 12.5482 3.45178 14 5.24264 14C6.10264 14 6.92742 13.6584 7.53553 13.0503Z" fill="currentColor"/>
                    <path d="M5.70711 11.7071L11.7071 5.70711L10.2929 4.29289L4.29289 10.2929L5.70711 11.7071Z" fill="currentColor"/>
                </svg>
            </span>
        </a>

        {% if globals_facebook_app_id is defined %}
            <a class="share-link" target="_blank"
               href="https://www.facebook.com/dialog/share?app_id={{ globals_facebook_app_id }}&amp;display=popup&amp;href={{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|escape }}%2F&amp;redirect_uri={{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|escape }}%2Ftools%2Fexplorer"
               title="{{ 'front.globals.share.facebook'|trans }}" aria-label="{{ 'front.globals.share.facebook'|trans }}">
                <span>
                    <svg fill="currentColor" width="250" height="250" viewBox="0 0 50 50">
                        <path d="M 9 4 C 6.2504839 4 4 6.2504839 4 9 L 4 41 C 4 43.749516 6.2504839 46 9 46 L 25.832031 46 A 1.0001 1.0001 0 0 0 26.158203 46 L 31.832031 46 A 1.0001 1.0001 0 0 0 32.158203 46 L 41 46 C 43.749516 46 46 43.749516 46 41 L 46 9 C 46 6.2504839 43.749516 4 41 4 L 9 4 z M 9 6 L 41 6 C 42.668484 6 44 7.3315161 44 9 L 44 41 C 44 42.668484 42.668484 44 41 44 L 33 44 L 33 30 L 36.820312 30 L 38.220703 23 L 33 23 L 33 21 C 33 20.442508 33.05305 20.398929 33.240234 20.277344 C 33.427419 20.155758 34.005822 20 35 20 L 38 20 L 38 14.369141 L 37.429688 14.097656 C 37.429688 14.097656 35.132647 13 32 13 C 29.75 13 27.901588 13.896453 26.71875 15.375 C 25.535912 16.853547 25 18.833333 25 21 L 25 23 L 22 23 L 22 30 L 25 30 L 25 44 L 9 44 C 7.3315161 44 6 42.668484 6 41 L 6 9 C 6 7.3315161 7.3315161 6 9 6 z M 32 15 C 34.079062 15 35.38736 15.458455 36 15.701172 L 36 18 L 35 18 C 33.849178 18 32.926956 18.0952 32.150391 18.599609 C 31.373826 19.104024 31 20.061492 31 21 L 31 25 L 35.779297 25 L 35.179688 28 L 31 28 L 31 44 L 27 44 L 27 28 L 24 28 L 24 25 L 27 25 L 27 21 C 27 19.166667 27.464088 17.646453 28.28125 16.625 C 29.098412 15.603547 30.25 15 32 15 z"/>
                    </svg>
                </span>
            </a>
        {% endif %}

        <a class="share-link" target="_blank"
           href="fb-messenger://share/?link={{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|escape('html_attr') }}"
           title="{{ 'front.globals.share.messenger_mobile'|trans }}" aria-label="{{ 'front.globals.share.messenger_mobile'|trans }}">
            <span>
                <svg width="1536" height="1792" viewBox="0 0 1536 1792" fill="currentColor">
                    <path d="M760.274 128C46.788 128-273.441 971.429 282.33 1391.771V1664l259.543-144c487.542 136.457 978.514-205.371 978.514-681.257C1520.73 446.17 1180.274 128 760.274 128zm80.228 953.486l-196.8-204.343-378.514 209.486 415.2-440.572 196.8 204.343 378.514-209.486z"/>
                </svg>
            </span>
            <span>
                <svg viewBox="0 0 250 500" width="200" height="250" fill="currentColor">
                    <path d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"/>
                </svg>
            </span>
        </a>

        <a class="share-link" target="_blank"
           href="https://www.facebook.com/dialog/send?app_id={{ globals_facebook_app_id }}&amp;link={{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|escape }}%2F&amp;redirect_uri={{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|escape }}%2Ftools%2Fexplorer"
           title="{{ 'front.globals.share.messenger_computer'|trans }}" aria-label="{{ 'front.globals.share.messenger_computer'|trans }}">
            <span>
                <svg fill="currentColor" width="1536" height="1792" viewBox="0 0 1536 1792">
                    <path d="M760.274 128C46.788 128-273.441 971.429 282.33 1391.771V1664l259.543-144c487.542 136.457 978.514-205.371 978.514-681.257C1520.73 446.17 1180.274 128 760.274 128zm80.228 953.486l-196.8-204.343-378.514 209.486 415.2-440.572 196.8 204.343 378.514-209.486z"/>
                </svg>
            </span>
            <span>
                <svg fill="currentColor" viewBox="0 0 500 500" width="250" height="250">
                    <path d="M489.8,53.85c0-19.6-16-35.6-35.6-35.6H35.6C16,18.25,0,34.25,0,53.85v262.7c0,0.1,0,0.3,0,0.4v47.6c0,0.2,0,0.4,0,0.6v2.6
                    c0,0.2,0,0.4,0,0.6v0.7l0,0c0.6,16.8,14.4,30.1,31.3,30.1h158.9c-0.3,7-4.2,39-52,45h1.5c-7.5,0-13.7,6.1-13.7,13.7
                    s6.1,13.7,13.7,13.7H349c7.5,0,13.7-6.1,13.7-13.7s-6.1-13.7-13.7-13.7h2.3c-47.7-6-51.7-38-52-45h158.9
                    c16.9,0,30.7-13.4,31.3-30.1l0,0v-58.7l0,0V53.85H489.8z M244.9,376.95c-9.6,0-17.4-7.8-17.4-17.4s7.8-17.4,17.4-17.4
                    c9.6,0,17.4,7.8,17.4,17.4C262.3,369.15,254.5,376.95,244.9,376.95z M422.9,312.45h-356V84.95h356V312.45z"/>
                </svg>
            </span>
        </a>

        <a class="share-link"
           href="https://bsky.app/intent/compose?text={{ escaped_default_share_text|default(website_title)|striptags|e('html_attr') }} {{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|escape('html_attr') }}"
           data-size="large" target="_blank" title="{{ 'front.globals.share.bluesky'|trans }}" aria-label="{{ 'front.globals.share.bluesky'|trans }}">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48px" height="48px">
                    <path fill="currentColor"
                          d="M12.104,7.999C16.919,11.614,22.099,18.944,24,22.877c1.902-3.933,7.081-11.263,11.896-14.878	C39.371,5.391,45,3.373,45,9.795c0,1.283-0.735,10.774-1.167,12.315c-1.499,5.357-6.962,6.724-11.821,5.897	C40.506,29.452,42.667,34.241,38,39.03c-8.863,9.094-12.738-2.282-13.732-5.197c-0.182-0.534-0.267-0.784-0.268-0.572	c-0.001-0.213-0.086,0.037-0.268,0.572C22.738,36.748,18.863,48.124,10,39.03c-4.667-4.789-2.506-9.577,5.988-11.023	c-4.86,0.827-10.323-0.539-11.821-5.897C3.735,20.569,3,11.077,3,9.795C3,3.373,8.63,5.391,12.104,7.999L12.104,7.999z"/>
                </svg>
            </span>
        </a>

        <a class="share-link"
           href="https://twitter.com/share?text={{ escaped_default_share_text|default(website_title)|striptags|e('html_attr') }}&url={{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|escape('html_attr') }}"
           data-size="large" target="_blank" title="{{ 'front.globals.share.twitter'|trans }}" aria-label="{{ 'front.globals.share.twitter'|trans }}">
            <span>
                <svg fill="currentColor" viewBox="0 0 50 50" width="250" height="250">
                    <path d="M 34.21875 5.46875 C 28.238281 5.46875 23.375 10.332031 23.375 16.3125 C 23.375 16.671875 23.464844 17.023438 23.5 17.375 C 16.105469 16.667969 9.566406 13.105469 5.125 7.65625 C 4.917969 7.394531 4.597656 7.253906 4.261719 7.277344 C 3.929688 7.300781 3.632813 7.492188 3.46875 7.78125 C 2.535156 9.386719 2 11.234375 2 13.21875 C 2 15.621094 2.859375 17.820313 4.1875 19.625 C 3.929688 19.511719 3.648438 19.449219 3.40625 19.3125 C 3.097656 19.148438 2.726563 19.15625 2.425781 19.335938 C 2.125 19.515625 1.941406 19.839844 1.9375 20.1875 L 1.9375 20.3125 C 1.9375 23.996094 3.84375 27.195313 6.65625 29.15625 C 6.625 29.152344 6.59375 29.164063 6.5625 29.15625 C 6.21875 29.097656 5.871094 29.21875 5.640625 29.480469 C 5.410156 29.742188 5.335938 30.105469 5.4375 30.4375 C 6.554688 33.910156 9.40625 36.5625 12.9375 37.53125 C 10.125 39.203125 6.863281 40.1875 3.34375 40.1875 C 2.582031 40.1875 1.851563 40.148438 1.125 40.0625 C 0.65625 40 0.207031 40.273438 0.0507813 40.71875 C -0.109375 41.164063 0.0664063 41.660156 0.46875 41.90625 C 4.980469 44.800781 10.335938 46.5 16.09375 46.5 C 25.425781 46.5 32.746094 42.601563 37.65625 37.03125 C 42.566406 31.460938 45.125 24.226563 45.125 17.46875 C 45.125 17.183594 45.101563 16.90625 45.09375 16.625 C 46.925781 15.222656 48.5625 13.578125 49.84375 11.65625 C 50.097656 11.285156 50.070313 10.789063 49.777344 10.445313 C 49.488281 10.101563 49 9.996094 48.59375 10.1875 C 48.078125 10.417969 47.476563 10.441406 46.9375 10.625 C 47.648438 9.675781 48.257813 8.652344 48.625 7.5 C 48.75 7.105469 48.613281 6.671875 48.289063 6.414063 C 47.964844 6.160156 47.511719 6.128906 47.15625 6.34375 C 45.449219 7.355469 43.558594 8.066406 41.5625 8.5 C 39.625 6.6875 37.074219 5.46875 34.21875 5.46875 Z M 34.21875 7.46875 C 36.769531 7.46875 39.074219 8.558594 40.6875 10.28125 C 40.929688 10.53125 41.285156 10.636719 41.625 10.5625 C 42.929688 10.304688 44.167969 9.925781 45.375 9.4375 C 44.679688 10.375 43.820313 11.175781 42.8125 11.78125 C 42.355469 12.003906 42.140625 12.53125 42.308594 13.011719 C 42.472656 13.488281 42.972656 13.765625 43.46875 13.65625 C 44.46875 13.535156 45.359375 13.128906 46.3125 12.875 C 45.457031 13.800781 44.519531 14.636719 43.5 15.375 C 43.222656 15.578125 43.070313 15.90625 43.09375 16.25 C 43.109375 16.65625 43.125 17.058594 43.125 17.46875 C 43.125 23.71875 40.726563 30.503906 36.15625 35.6875 C 31.585938 40.871094 24.875 44.5 16.09375 44.5 C 12.105469 44.5 8.339844 43.617188 4.9375 42.0625 C 9.15625 41.738281 13.046875 40.246094 16.1875 37.78125 C 16.515625 37.519531 16.644531 37.082031 16.511719 36.683594 C 16.378906 36.285156 16.011719 36.011719 15.59375 36 C 12.296875 35.941406 9.535156 34.023438 8.0625 31.3125 C 8.117188 31.3125 8.164063 31.3125 8.21875 31.3125 C 9.207031 31.3125 10.183594 31.1875 11.09375 30.9375 C 11.53125 30.808594 11.832031 30.402344 11.816406 29.945313 C 11.800781 29.488281 11.476563 29.097656 11.03125 29 C 7.472656 28.28125 4.804688 25.382813 4.1875 21.78125 C 5.195313 22.128906 6.226563 22.402344 7.34375 22.4375 C 7.800781 22.464844 8.214844 22.179688 8.355469 21.746094 C 8.496094 21.3125 8.324219 20.835938 7.9375 20.59375 C 5.5625 19.003906 4 16.296875 4 13.21875 C 4 12.078125 4.296875 11.03125 4.6875 10.03125 C 9.6875 15.519531 16.6875 19.164063 24.59375 19.5625 C 24.90625 19.578125 25.210938 19.449219 25.414063 19.210938 C 25.617188 18.96875 25.695313 18.648438 25.625 18.34375 C 25.472656 17.695313 25.375 17.007813 25.375 16.3125 C 25.375 11.414063 29.320313 7.46875 34.21875 7.46875 Z"/>
                </svg>
            </span>
        </a>

        <a class="share-link"
           href="https://www.reddit.com/submit?type=LIN?K&title={{ escaped_default_share_text|default(website_title)|striptags|e('html_attr') }}&url={{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|escape('html_attr') }}"
           data-size="large" target="_blank" title="{{ 'front.globals.share.reddit'|trans }}" aria-label="{{ 'front.globals.share.reddit'|trans }}">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50px" height="50px">
                    <path fill="currentColor" d="M 29 3 C 28.0625 3 27.164063 3.382813 26.5 4 C 25.835938 4.617188 25.363281 5.433594 25 6.40625 C 24.355469 8.140625 24.085938 10.394531 24.03125 13.03125 C 19.234375 13.179688 14.820313 14.421875 11.28125 16.46875 C 10.214844 15.46875 8.855469 14.96875 7.5 14.96875 C 6.089844 14.96875 4.675781 15.511719 3.59375 16.59375 C 1.425781 18.761719 1.425781 22.238281 3.59375 24.40625 L 3.84375 24.65625 C 3.3125 26.035156 3 27.488281 3 29 C 3 33.527344 5.566406 37.585938 9.5625 40.4375 C 13.558594 43.289063 19.007813 45 25 45 C 30.992188 45 36.441406 43.289063 40.4375 40.4375 C 44.433594 37.585938 47 33.527344 47 29 C 47 27.488281 46.6875 26.035156 46.15625 24.65625 L 46.40625 24.40625 C 48.574219 22.238281 48.574219 18.761719 46.40625 16.59375 C 45.324219 15.511719 43.910156 14.96875 42.5 14.96875 C 41.144531 14.96875 39.785156 15.46875 38.71875 16.46875 C 35.195313 14.433594 30.800781 13.191406 26.03125 13.03125 C 26.09375 10.546875 26.363281 8.46875 26.875 7.09375 C 27.164063 6.316406 27.527344 5.757813 27.875 5.4375 C 28.222656 5.117188 28.539063 5 29 5 C 29.460938 5 29.683594 5.125 30.03125 5.40625 C 30.378906 5.6875 30.785156 6.148438 31.3125 6.6875 C 32.253906 7.652344 33.695313 8.714844 36.09375 8.9375 C 36.539063 11.238281 38.574219 13 41 13 C 43.75 13 46 10.75 46 8 C 46 5.25 43.75 3 41 3 C 38.605469 3 36.574219 4.710938 36.09375 6.96875 C 34.3125 6.796875 33.527344 6.109375 32.75 5.3125 C 32.300781 4.851563 31.886719 4.3125 31.3125 3.84375 C 30.738281 3.375 29.9375 3 29 3 Z M 41 5 C 42.667969 5 44 6.332031 44 8 C 44 9.667969 42.667969 11 41 11 C 39.332031 11 38 9.667969 38 8 C 38 6.332031 39.332031 5 41 5 Z M 25 15 C 30.609375 15 35.675781 16.613281 39.28125 19.1875 C 42.886719 21.761719 45 25.226563 45 29 C 45 32.773438 42.886719 36.238281 39.28125 38.8125 C 35.675781 41.386719 30.609375 43 25 43 C 19.390625 43 14.324219 41.386719 10.71875 38.8125 C 7.113281 36.238281 5 32.773438 5 29 C 5 25.226563 7.113281 21.761719 10.71875 19.1875 C 14.324219 16.613281 19.390625 15 25 15 Z M 7.5 16.9375 C 8.203125 16.9375 8.914063 17.148438 9.53125 17.59375 C 7.527344 19.03125 5.886719 20.769531 4.75 22.71875 C 3.582031 21.296875 3.660156 19.339844 5 18 C 5.714844 17.285156 6.609375 16.9375 7.5 16.9375 Z M 42.5 16.9375 C 43.390625 16.9375 44.285156 17.285156 45 18 C 46.339844 19.339844 46.417969 21.296875 45.25 22.71875 C 44.113281 20.769531 42.472656 19.03125 40.46875 17.59375 C 41.085938 17.148438 41.796875 16.9375 42.5 16.9375 Z M 17 22 C 14.800781 22 13 23.800781 13 26 C 13 28.199219 14.800781 30 17 30 C 19.199219 30 21 28.199219 21 26 C 21 23.800781 19.199219 22 17 22 Z M 33 22 C 30.800781 22 29 23.800781 29 26 C 29 28.199219 30.800781 30 33 30 C 35.199219 30 37 28.199219 37 26 C 37 23.800781 35.199219 22 33 22 Z M 17 24 C 18.117188 24 19 24.882813 19 26 C 19 27.117188 18.117188 28 17 28 C 15.882813 28 15 27.117188 15 26 C 15 24.882813 15.882813 24 17 24 Z M 33 24 C 34.117188 24 35 24.882813 35 26 C 35 27.117188 34.117188 28 33 28 C 31.882813 28 31 27.117188 31 26 C 31 24.882813 31.882813 24 33 24 Z M 34.15625 33.84375 C 34.101563 33.851563 34.050781 33.859375 34 33.875 C 33.683594 33.9375 33.417969 34.144531 33.28125 34.4375 C 33.28125 34.4375 32.757813 35.164063 31.4375 36 C 30.117188 36.835938 28.058594 37.6875 25 37.6875 C 21.941406 37.6875 19.882813 36.835938 18.5625 36 C 17.242188 35.164063 16.71875 34.4375 16.71875 34.4375 C 16.492188 34.082031 16.066406 33.90625 15.65625 34 C 15.332031 34.082031 15.070313 34.316406 14.957031 34.632813 C 14.84375 34.945313 14.894531 35.292969 15.09375 35.5625 C 15.09375 35.5625 15.863281 36.671875 17.46875 37.6875 C 19.074219 38.703125 21.558594 39.6875 25 39.6875 C 28.441406 39.6875 30.925781 38.703125 32.53125 37.6875 C 34.136719 36.671875 34.90625 35.5625 34.90625 35.5625 C 35.207031 35.273438 35.296875 34.824219 35.128906 34.441406 C 34.960938 34.058594 34.574219 33.820313 34.15625 33.84375 Z"/>
                </svg>
            </span>
        </a>

        <a class="share-link"
           href="mailto:address@yourfriendsdomain.com?subject={{ (globals_website_name ~ ' - ' ~ globals_website_subtitle)|escape('html_attr') }}&amp;body={{ escaped_default_mailto_text }}"
           title="{{ 'front.globals.share.email'|trans }}" aria-label="{{ 'front.globals.share.email'|trans }}">
            <span>
                <svg fill="currentColor" viewBox="0 0 75.294 75.294" width="250" height="250">
                    <path d="M66.097,12.089h-56.9C4.126,12.089,0,16.215,0,21.286v32.722c0,5.071,4.126,9.197,9.197,9.197h56.9
                        c5.071,0,9.197-4.126,9.197-9.197V21.287C75.295,16.215,71.169,12.089,66.097,12.089z M61.603,18.089L37.647,33.523L13.691,18.089
                        H61.603z M66.097,57.206h-56.9C7.434,57.206,6,55.771,6,54.009V21.457l29.796,19.16c0.04,0.025,0.083,0.042,0.124,0.065
                        c0.043,0.024,0.087,0.047,0.131,0.069c0.231,0.119,0.469,0.215,0.712,0.278c0.025,0.007,0.05,0.01,0.075,0.016
                        c0.267,0.063,0.537,0.102,0.807,0.102c0.001,0,0.002,0,0.002,0c0.002,0,0.003,0,0.004,0c0.27,0,0.54-0.038,0.807-0.102
                        c0.025-0.006,0.05-0.009,0.075-0.016c0.243-0.063,0.48-0.159,0.712-0.278c0.044-0.022,0.088-0.045,0.131-0.069
                        c0.041-0.023,0.084-0.04,0.124-0.065l29.796-19.16v32.551C69.295,55.771,67.86,57.206,66.097,57.206z"/>
                </svg>
            </span>
        </a>
    </div>
{% endautoescape %}
