<fieldset class="w-full mb-4">
    <legend>
        <span class="icon-cog"></span>{{ 'admin.form.customblock.legends.info'|trans }}
    </legend>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-right">
        <button data-turbo="false" class="btn btn-green" title="{{ 'global.savebutton.title'|trans }}">{{ button_label|default('global.savebutton.label'|trans) }}</button>
    </div>
    {{ form_end(form) }}
</fieldset>
