<!DOCTYPE html>
<html lang="{{ app.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %} | {{ website_title }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ asset('metadata/favicon.ico') }}">
        <link rel="icon" type="image/png" href="{{ asset('metadata/favicon-96x96.png') }}" sizes="96x96">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('metadata/apple-touch-icon.png') }}">
        <link rel="manifest" href="{{ asset('metadata/site.webmanifest') }}">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        {% block javascripts %}
            {% block importmap %}{{ importmap('aeonshift') }}{% endblock %}
        {% endblock %}
        {% block custom_stylesheets %}{% endblock %}
        {% block custom_js %}{% endblock %}
        {% block seohead %}{% endblock %}
        {% block link_canonical %}
            {% if app.request.attributes.get('_route') is defined and app.request.attributes.get('_route') is not empty %}
                <link rel="canonical"
                      href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
            {% endif %}
        {% endblock %}
        {% block og_meta -%}
            {% if app.request.attributes.get('_route') is defined and app.request.attributes.get('_route') is not empty %}
                <meta property="og:url"
                      content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
            {% endif %}
            <meta property="og:site_name" content="{{ globals_website_name|escape }}">
            <meta property="og:type" content="website">
            <meta property="og:image:type" content="image/jpeg">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:creator" content="@innersonics">
        {%- endblock %}
        {% block og_specific %}
            <meta property="og:title" content="{{ website_title|default(globals_website_name)|escape }}">
            <meta property="og:description" content="{{ globals_website_description }}">
            <meta property="og:image" content="{{ absolute_url(asset('images/aeonshift-logo-dark.jpg')) }}">
            <meta property="og:image:width" content="888">
            <meta property="og:image:height" content="672">
            <meta name="twitter:title" content="{{ website_title|default(globals_website_name)|escape }}">
            <meta property="twitter:description" content="{{ globals_website_description }}">
            <meta property="twitter:image" content="{{ absolute_url(asset('images/aeonshift-logo-dark.jpg')) }}">
        {% endblock %}
        {% block schema_org -%}
            <script type="application/ld+json">
                {
                    "@context": "https://www.schema.org",
                    "@type": "Service",
                    "name": "{{ globals_website_name }}",
                        "description": "{{ globals_website_subtitle }}",
                        "address": {
                            "@type": "PostalAddress",
                            "addressCountry": "World"
                    }
                }
            </script>
        {%- endblock %}
    </head>
    <body {% block body_attributes %}{% endblock %}>
        <a tabindex="0" id="skipcontent" href="#maincontent"
           title="{{ 'global.skipcontent.label'|trans }}">{{ 'global.skipcontent.label'|trans }}</a>
        <main id="swup">

            {% block beforemenu %}{% endblock %}

            {% block menu %}{% endblock %}

            {% block messages %}
                {% if app.flashes is defined and app.session.flashbag.peekAll()|length > 0 and app.request.xmlHttpRequest is same as(false) and app.request.headers.get('x-turbo-request-id') is empty %}
                    <div class="spaceless-row">
                        <div class="main-column">
                            <div class="messages">
                                {% for label, messages in app.flashes %}
                                    {% for message in messages %}
                                        <div class="flash-message flash-{{ label }}">
                                            {{ message|raw }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="main-row spacer-row"></div>
                {% endif %}
            {% endblock %}

            <div id="maincontent">
                {% block main_layout %}
                    <div class="main-row theme1 unique-row">
                        <div class="main-column main-content">
                            {% block main_content %}
                                {% block body %}{% endblock %}
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>

            <div class="main-row spacer-row"></div>

            {% block footer %}
                <div class="spaceless-row theme1">
                    <div class="main-column no-shadow">
                        <footer class="flex flex-col items-center justify-center w-full">
                            <div class="menu footer w-full">
                                {{ front_menu('footer') }}
                            </div>
                            <div class="footer-text text-sm w-full lg:w-3/4">
                                {{ include('_custom_block.html.twig', {'block_key': 'footer.' ~  app.locale|default('en')}) }}
                                <br>
                                <a class="mr-2 lg:mr-8" href="https://www.w3.org/WAI/standards-guidelines/wcag/" title="OpQuast compliance (new window)">
                                    <img height="24px" class="inline-block" src="{{ asset('images/opquast.svg') }}" alt="OpQuast compliance logo">
                                </a>
                                <a class="mr-2 lg:mr-8" href="https://company.wizards.com/en/legal/fancontentpolicy" title="Wizards Of The Coast Fansite Policy (new window)">
                                    <img height="24px" class="inline-block" src="{{ asset('images/fansite.png') }}" alt="Wizards Of The Coast Fansite Policy">
                                </a>
                                <a class="mr-2 lg:mr-8" href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr" title="Creative Commons CC-BY-SA Game Content (new window)">
                                    <img height="24px" class="inline-block" src="{{ asset('images/cc-logo.png') }}" alt="Creative Commons CC-BY-SA Game Content">
                                </a>
                                <a class="mr-2 lg:mr-8" href="https://checklists.opquast.com/en/web-quality-assurance/" title="WCAG 2AA compliance (new window)">
                                    <img height="24px" class="inline-block" src="{{ asset('images/wcag2AA.png') }}" alt="WCAG 2AA compliance logo">
                                </a>
                                <a class="mr-2 lg:mr-8" href="https://validator.w3.org/check?uri=https%3A%2F%2Fmtgprime.fr%2F&charset=%28detect+automatically%29&doctype=Inline&group=0" title="W3C HTML5 compliance (new window)">
                                    <img height="24px" class="inline-block" src="{{ asset('images/html5-valid.png') }}" alt="W3C HTML5 compliance logo">
                                </a>
                                <a class="mr-2 lg:mr-8" href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fmtgprime.fr%2F&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=fr" title="W3C CSS compliance (new window)">
                                    <img height="24px" class="inline-block" src="{{ asset('images/valid-css.png') }}" alt="W3C CSS compliance logo">
                                </a>
                                <a class="mr-2 lg:mr-8" href="https://anykey.org/" title="AnyKey GLHF Pledge (new window)">
                                    <img height="24px" class="inline-block" src="{{ asset('images/anykey-logo.png') }}" alt="AnyKey GLHF Pledge">
                                </a>
                                <a class="mr-2 lg:mr-8" href="https://www.takethis.org/" title="Support TakeThis Initiative Now (new window)">
                                    <img height="24px" class="inline-block" src="{{ asset('images/takethis-logo-white.png') }}" alt="Support TakeThis Initiative Now">
                                </a>
                            </div>
                        </footer>
                    </div>
                </div>
            {% endblock %}

        </main>
    </body>
</html>
