{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ 'admin.nav.mtg.sourcecard.show.title'|trans({'name': source_card.nameEN}) }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.nav.mtg.sourcecard.show.title'|trans({'name': source_card.nameEN}) }}</h1>

    <div class="flex flex-col gap-2 lg:flex-row lg:gap-4 w-full lg:justify-center my-2">
        <a class="btn btn-gray" href="{{ url('admin_mtg_source_card_index') }}" title="{{ 'global.indexbutton.title'|trans }}">{{ 'global.indexbutton.label'|trans }}</a>
    </div>

    <div class="table-wrapper">
        <table class="table center header-highlight-table">
            <tbody>
                <tr>
                    <th class="w-1/4">{{ 'global.id.label'|trans }}</th>
                    <td>{{ source_card.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.sourcecard.create.nameen.label'|trans }}</th>
                    <td>{{ source_card.nameEN }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.sourcecard.create.flavorofnameen.label'|trans }}</th>
                    <td>{{ source_card.flavorOfNameEN }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.sourcecard.create.alternatenameen.label'|trans }}</th>
                    <td>{{ source_card.alternateNameEN }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.pointslistcard.create.scryfallid.label'|trans }}</th>
                    <td>{{ source_card.scryfallId }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.pointslistcard.create.scryfalluri.label'|trans }}</th>
                    <td><a href="{{ source_card.scryfallURI }}" target=_blank">{{ source_card.scryfallURI }}</a></td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.pointslistcard.create.oracleid.label'|trans }}</th>
                    <td>{{ source_card.oracleId }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.sourcecard.create.firstprintsetcode.label'|trans }}</th>
                    <td>{{ source_card.firstPrintedSetCode|upper }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.sourcecard.create.firstprintedat.label'|trans }}</th>
                    <td>{{ source_card.firstPrintedAt|date('Y-m-d') }} ({{ source_card.firstPrintedYear }})</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.sourcecard.create.maximumtimelinelegality.label'|trans }}</th>
                    <td>{{ source_card.maximumTimelineLegality|title }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.sourcecard.create.coloridentity.label'|trans }}</th>
                    <td>{% if source_card.colorIdentity is defined and source_card.colorIdentity is iterable %}
                            {{ source_card.colorIdentity|join(', ') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.sourcecard.create.isblue.label'|trans }}</th>
                    <td class="{{ 'value' ~ source_card.blue|default(0) }}">{{ ('global.' ~ source_card.blue|default(0) ~ '.label')|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.sourcecard.create.isblack.label'|trans }}</th>
                    <td class="{{ 'value' ~ source_card.black|default(0) }}">{{ ('global.' ~ source_card.black|default(0) ~ '.label')|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.sourcecard.create.iswhite.label'|trans }}</th>
                    <td class="{{ 'value' ~ source_card.white|default(0) }}">{{ ('global.' ~ source_card.white|default(0) ~ '.label')|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.sourcecard.create.isgreen.label'|trans }}</th>
                    <td class="{{ 'value' ~ source_card.green|default(0) }}">{{ ('global.' ~ source_card.green|default(0) ~ '.label')|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.sourcecard.create.isred.label'|trans }}</th>
                    <td class="{{ 'value' ~ source_card.red|default(0) }}">{{ ('global.' ~ source_card.red|default(0) ~ '.label')|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.sourcecard.create.iscolorless.label'|trans }}</th>
                    <td class="{{ 'value' ~ source_card.colorless|default(0) }}">{{ ('global.' ~ source_card.colorless|default(0) ~ '.label')|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.pointslistcard.create.manavalue.label'|trans }}</th>
                    <td>{{ source_card.manaValue }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.sourcecard.create.iscommandzoneeligible.label'|trans }}</th>
                    <td class="{{ 'value' ~ source_card.commandZoneEligible|default(0) }}">{{ ('global.' ~ source_card.commandZoneEligible|default(0) ~ '.label')|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.sourcecard.create.ismultiplecommandzoneeligible.label'|trans }}</th>
                    <td class="{{ 'value' ~ source_card.multipleCommandZoneEligible|default(0) }}">{{ ('global.' ~ source_card.multipleCommandZoneEligible|default(0) ~ '.label')|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.pointslistcard.create.multicztype.label'|trans }}</th>
                    <td>{{ source_card.multiCZType }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.pointslistcard.create.islegalduelcommander.label'|trans }}</th>
                    <td class="{{ 'value' ~ source_card.legalDuelCommander|default(0) }}">{{ ('global.' ~ source_card.legalDuelCommander|default(0) ~ '.label')|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.pointslistcard.create.islegalduelcommanderspecial.label'|trans }}</th>
                    <td class="{{ 'value' ~ source_card.legalDuelCommanderSpecial|default(0) }}">{{ ('global.' ~ source_card.legalDuelCommanderSpecial|default(0) ~ '.label')|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.pointslistcard.create.islegal2hg.label'|trans }}</th>
                    <td class="{{ 'value' ~ source_card.legal2HG|default(0) }}">{{ ('global.' ~ source_card.legal2HG|default(0) ~ '.label')|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.pointslistcard.create.islegalduelcommanderspecial.label'|trans }}</th>
                    <td class="{{ 'value' ~ source_card.legal2HGSpecial|default(0) }}">{{ ('global.' ~ source_card.legal2HGSpecial|default(0) ~ '.label')|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.pointslistcard.create.islegalcommander.label'|trans }}</th>
                    <td class="{{ 'value' ~ source_card.legalCommander|default(0) }}">{{ ('global.' ~ source_card.legallegalCommander|default(0) ~ '.label')|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.pointslistcard.create.islegalcommanderspecial.label'|trans }}</th>
                    <td class="{{ 'value' ~ source_card.legallegalCommanderSpecial|default(0) }}">{{ ('global.' ~ source_card.legallegalCommanderSpecial|default(0) ~ '.label')|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.sourcecard.create.mtgoprice.label'|trans }}</th>
                    <td>{{ source_card.MTGOPrice|default(0.0) }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin.form.mtg.sourcecard.create.mvalue.label'|trans }}</th>
                    <td>{{ source_card.MValueTrend|default(0.0) }}</td>
                </tr>
                <tr>
                    <th>{{ 'global.dates.label'|trans }}</th>
                    <td>
                        {{ source_card.createdAt ? source_card.createdAt|date('Y-m-d') : '' }} / {{ source_card.updatedAt ? source_card.updatedAt|date('Y-m-d') : '' }}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'global.users.label'|trans }}</th>
                    <td>
                        {{ source_card.createdBy ? source_card.createdBy.username|raw : 'N/A' }} / {{ source_card.updatedBy ? source_card.updatedBy.username|raw : 'N/A' }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="flex flex-col gap-2 lg:flex-row lg:gap-4 w-full lg:justify-center my-2">
        <a class="btn btn-gray" href="{{ url('admin_mtg_source_card_index') }}" title="{{ 'global.indexbutton.title'|trans }}">{{ 'global.indexbutton.label'|trans }}</a>
    </div>
{% endblock %}
