{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ 'admin.nav.mtg.pointslistcard.index.label'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.nav.mtg.pointslistcard.index.label'|trans }}</h1>

    {{ component('AdminMTGPointsListCardIndexFormComponent', {
        nameEN: filters.name|default(null),
        pointsList: filters.pointsList|default(null),
        page: app.request.get('page')|default(1),
        filtersActive: initialFiltersActive
    }) }}

    <a class="btn btn-green" href="{{ url('admin_mtg_points_list_card_new') }}" title="{{ 'global.createbutton.title'|trans }}">{{ 'global.createbutton.label'|trans }}</a>
{% endblock %}
