{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ 'admin.nav.pages.new.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.nav.pages.new.title'|trans }}</h1>

    <a class="btn btn-gray" href="{{ url('admin_page_index') }}" title="{{ 'global.indexbutton.title'|trans }}">{{ 'global.indexbutton.label'|trans }}</a>

    <div class="my-2"></div>

    {{ include('admin/page/_form.html.twig') }}

    <a class="btn btn-gray" href="{{ url('admin_page_index') }}" title="{{ 'global.indexbutton.title'|trans }}">{{ 'global.indexbutton.label'|trans }}</a>
{% endblock %}
